{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SIHINCAN</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% block extrahead %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'toastmessage/static/css/jquery.toastmessage.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/_all-skins.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.timepicker.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-dialog.min.css' %}">
  <link href="/static/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-dialog.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}">

    <title>{% block title %}Title{% endblock %}</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>SIH</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>SIH</b>INCAN</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href={% url 'logout' %}><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <li><a><b>Usuario:</b>{{ user.username }}</a></li>
      </div>
      <!-- search form -->

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MENÚ</li>

        {% if user.groups.all.0.name == "Administrativo" or user.is_superuser %}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user fa-fw"></i><span>Pacientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'pacientes:nuevo_paciente' %}"><i class="fa fa-circle-o"></i>Nuevo Paciente</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users fa-fw"></i><span>Usuarios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'principal:user_list_global' %}"><i class="fa fa-circle-o"></i>Lista de Usuarios</a></li>
            <li><a href="{% url 'principal:usuario_nuevo' %}"><i class="fa fa-circle-o"></i>Nuevo Usuario</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user-md fa-fw"></i><span>Médicos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'consultorios:medico_listar' %}"><i class="fa fa-circle-o"></i>Lista de Médicos</a></li>
            <li><a href="{% url 'consultorios:medico_nuevo' %}"><i class="fa fa-circle-o"></i>Nuevo Médico</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-stethoscope fa-fw"></i><span>Enfermero</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'consultorios:enfermero_listar' %}"><i class="fa fa-circle-o"></i>Lista de Enfermeros</a></li>
            <li><a href="{% url 'consultorios:enfermero_nuevo' %}"><i class="fa fa-circle-o"></i>Nuevo Enfermero</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-hospital-o fa-fw"></i><span>Administrativo</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'consultorios:administrativo_listar' %}"><i class="fa fa-circle-o"></i>Lista de Administrativos</a></li>
            <li><a href="{% url 'consultorios:administrativo_nuevo' %}"><i class="fa fa-circle-o"></i>Nuevo Administrativo</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-medkit fa-fw"></i><span>Medicamentos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'internaciones:tipo_medicamento' %}"><i class="fa fa-circle-o"></i>Tipos de Medicamentos</a></li>
            <li><a href="{% url 'internaciones:medicamentos' %}"><i class="fa fa-circle-o"></i>Medicamentos</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-medkit fa-fw"></i><span>Órdenes de Estudio</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'consultorios:ordenes_estudio' %}"><i class="fa fa-circle-o"></i>Órden de Estudio</a></li>

          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-medkit fa-fw"></i><span>Agendamientos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'agendamientos:agenda_especialidad_medico' %}"><i class="fa fa-circle-o"></i>Agendas</a></li>

          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          {% block content %}
            <h1 class="page-header">Blank</h1>
          {% endblock %}
        </div>
        <!-- /.col-lg-12 -->
      </div>
                <!-- /.row -->
    </div>


  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2017 <a href="#">SIHINCAN</a>.</strong>Todos los derechos reservados
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>

    <script src = "{% static 'js/jquery.min.js' %}"></script>
    <script src = "{% static 'js/jquery-ui.min.js' %}"></script>
    <script src = "{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/fastclick.min.js' %}"></script>
    <script src = "{% static 'js/select2.min.js' %}"></script>
    <script src = "{% static 'toastmessage/static/js/jquery.toastmessage.js' %}"></script>
    <script src = "{% static 'js/modales.js' %}"></script>
    <script src = "{% static 'js/bootstrap-dialog.min.js' %}"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src = "{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src = "{% static 'vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src = "{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src = "{% static 'js/validate.min.js' %}"></script>
    <script src = "{% static 'js/underscore.min.js' %}"></script>
    <script src = "{% static 'js/datatable-responsive-model.js' %}"></script>
    <!--<script src="/static/js/select2.min.js"></script>-->
    {% block extrajs %}

    {% endblock %}

    <script>
     $(document).ready(function() {
        // tiempo para los mensajes de 5 segundos
        setTimeout(function() {
            $('#message').fadeOut('slow');
        }, 4000); // <-- tiempo en milisegundos, 1000 =  1 sec


    });

	 $.datepicker.regional['es'] = {
	 closeText: 'Cerrar',
	 prevText: '< Ant',
	 nextText: 'Sig >',
	 currentText: 'Hoy',
	 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
	 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
	 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
	 weekHeader: 'Sm',
	 dateFormat: 'dd/mm/yy',
	 firstDay: 1,
	 isRTL: false,
	 showMonthAfterYear: false,
	 yearSuffix: ''
	 };
	 $.datepicker.setDefaults($.datepicker.regional['es']);
	 $(function () {
	 $( ".datepicker" ).datepicker({dateFormat: 'dd/mm/yy'}).val()
	});
	</script>
    <script>
    $('.timepicker').timepicker({
        timeFormat: 'HH:mm',
        interval: 60,
        minTime: '0',
        maxTime: '11:59pm',
        startTime: '7:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
	</script>
    <script>
        $('.selectsearch').select2({ placeholder:"Seleccione una opción", allowClear: true});
        $('.selectsearch-multiple').select2({ placeholder:"Seleccione una o más opciones", allowClear: true});
    </script>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
</script>

</body>
</html>