
        <ul class="nav nav-pills">
                                <li class="active"><a href="#" data-toggle="tab">Home</a>
                                </li>
                                <li><a href="{% url 'pacientes:nuevo_paciente' %}" data-toggle="tab">Profile</a>
                                </li>
                                <li><a href="#" data-toggle="tab">Messages</a>
                                </li>
                                <li><a href="#" data-toggle="tab">Settings</a>
                                </li>
        </ul>
