{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">

<div class="modal-dialog">
    <div class="modal-content">
      <form role="form" id="eventoForm"
          {% if not object.id %}
              action="{% url 'pacientes:paciente_servicio_sanitario_crear' paciente.id %}" method="post">
            {% else %}
            action="{% url 'pacientes:paciente_servicio_sanitario_editar' object.pk %}" method="post">
            {% endif %}
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Servicios Sanitarios</h4>
      </div>
      <div class="modal-body">
		<div class="form-horizontal" >
          {% csrf_token %}
          <div class="form-group">
              {{ form.agua.errors }}
              <label class="control-label col-sm-3">{{form.agua.label}}</label>
              <div class="col-sm-8">
                  {{ form.agua }}
              </div>
          </div>
          <div class="form-group">
              {{ form.eliminacion_basura.errors }}
              <label class="control-label col-sm-3">{{form.eliminacion_basura.label}}</label>
              <div class="col-sm-8">
                  {{ form.eliminacion_basura }}
              </div>
          </div>
          <div class="form-group">
              {{ form.desagua.errors }}
              <label class="control-label col-sm-3">{{form.desagua.label}}</label>
              <div class="col-sm-8">
                  {{ form.desagua }}
              </div>
          </div>
		</div>

		  </div>
      <div class="modal-footer">
        <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
        <button type="button" class="btn btn-default" onclick="return cerrar_modal()"><i class="fa fa-times"></i> Cancelar</button>
      </div>
		</form>
    </div>

  </div>
<script src = "{% static 'js/jquery.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>
<script src = "{% static 'js/select2.min.js' %}"></script>


  <script language="JavaScript">

        $("#eventoForm").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#eventoForm").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           location.reload();
                       }else {
                           $('#eventoForm').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#popup').modal('hide');
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });
    </script>