{% extends 'base/base2.html' %}
{% block content %}
  <div class="app-content-body">
    <br>
    <ol class="breadcrumb" style="background-color: #f6f8f8">
      <li><a href="{% url 'consultorios:dashboard_medico' %}">Inicio</a></li>
      <li class="active">Especialidad: {{ consulta.especialidad }}</li>
    </ol>
    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"> Cita del Día</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>

          </div>
        </div>
        <div class="box-body">
          <div class="col-sm-6">
            <span style="font-weight:bold">Fecha: </span>
            <span style="font-weight:normal">{{ consulta.fecha }}</span>
            <br>
            <span style="font-weight:bold">Médico:</span>
            <span style="font-weight:normal">{{ consulta.medico.get_dr_full_name }}</span>
            <br/>
            <span style="font-weight:bold">Nro Registro:</span>
            <span style="font-weight:normal">{{ consulta.medico.nro_registro_profesional }}</span>
            <br/>
          </div>
          <div class="col-sm-6">
            <span style="font-weight:bold">Turno: </span>
            <span style="font-weight:normal">{{ consulta.turno }}</span>
            <br/>
            {% if detalles == '' %}
              <h3>No hay pacientes agendados para el día de hoy</h3>
            {% else %}
            <span style="font-weight:bold">Especialidad: </span>
            <span style="font-weight:normal">{{ consulta.especialidad.nombre }}</span>
            <br>
            <span style="font-weight:bold">Cantidad de Pacientes: </span>
            <span style="font-weight:normal">{{ detalles.count }}</span>
            <br/>
            {% endif %}

          </div>

        </div>

      </div>



    <div class="wrapper-md">


      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Listado de Agendados</b>
            <div class="col pull-right">
            <a href="{% url 'consultorios:consultorio_paciente_listar' consulta.pk %}" id="create" class="btn btn-primary btn-sm" >
                <i class="fa fa-plus-square" aria-hidden="true"></i> Agregar Paciente</a>
            <a href="{% url 'consultorios:consultas_dia' %}" id="salir" class="btn btn-default btn-sm">
                <i class="fa fa-arrow-left"></i> Salir
            </a>
            </div>

              <p></p>

            </div>
              <div class="panel-body">
                <table class="table table-bordered" cellspacing="0" width="100%">
                  <thead>
                  <tr>
                    <th>Orden</th>
                    <th>Paciente</th>
                    <th class="text-center">Confirmado</th>
                    <th>Estado consulta</th>
                    <th>Acción</th>

                  </tr>
                  </thead>
                <tbody>
                {% for detalle in detalles %}
                  <tr>

                    <td>{{ detalle.orden }}</td>
                    <td>{{ detalle.paciente.get_name_nro_doc }}</td>
                    <td class="text-center">
                      {% if detalle.confirmado %}
                      Sí
                      {% else %}
                      No
                      {% endif %}
                    </td>
                    <td>{{ detalle.estado.nombre }}</td>
                    <td>
                      {% if not existe_en_proceso %}
                      {% if detalle.estado.codigo == "P" %}
                        <a href="{% url 'consultorios:consulta_detalle_iniciar' detalle.id %}" class="btn btn-success btn-sm" style="width:131px">
                          <i class="fa fa-play" aria-hidden="true"></i> Iniciar Consulta</a>
                      {% else %}
                        <a href="{% url 'consultorios:consulta_detalle_resumen' detalle.id %}" class="btn btn-default btn-sm" style="width:131px">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i> Ver Resumen</a>
                      {% endif %}
                      {% else %}
                        {% if detalle.estado.codigo == "E" %}
                          <a href="{% url 'consultorios:consulta_detalle_continuar' detalle.id %}" class="btn btn-default btn-sm" style="width:131px">
                            <i class="fa fa-pause" aria-hidden="true"></i> Continuar Consulta</a>
                        {% elif detalle.estado.codigo == "F" or detalle.estado.codigo == "C"%}
                          <a href="{% url 'consultorios:consulta_detalle_resumen' detalle.id %}" class="btn btn-default btn-sm" style="width:131px">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i> Ver Resumen</a>
                        {% else %}
                          <a href="#" class="btn btn-success btn-sm" disabled style="width:131px">
                            <i class="fa fa-play" aria-hidden="true"></i> Iniciar Consulta</a>
                        {% endif %}
                      {% endif %}

                    </td>


                  </tr>
                {% endfor %}
                </tbody>

              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="popup" class="modal fade"  aria-hidden="true" role="dialog" tabindex="-1" style="height: auto;margin: auto; posicion:fixed;"></div>

{% endblock %}


