{% extends 'base/base2.html' %}
{% block content %}
  <div class="app-content-body">
    <br>
    <ol class="breadcrumb" style="background-color: #f6f8f8">
      <li><a href="#">Inicio</a></li>
      <li>Consulta del Día</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <b class="panel-title">HISTORIA CLÍNICA</b>
            <div class="btn-group btn-group-sm pull-right">
                <div class="col pull-right">
                    <a id="volver" type="button" class="btn btn-default"
                       href="{% url 'consultorios:consulta_detalle_continuar' detalle.pk  %}">
                      <i class="fa fa-stethoscope" aria-hidden="true"></i> Volver a la consulta</a>
                    <a  class="btn btn-default" type="button"
                       href="{% url 'consultorios:consulta_historia_clinica' detalle.paciente.pk  %}">
                      <i class="fa fa-list" aria-hidden="true"></i>Historia Clinica</a>
                    <a id="pdf" type="button" class="btn btn-default"
                       href="{% url 'consultorios:consulta_historia_clinica_descargar' detalle.pk %}" target="_blank">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Exportar a PDF</a>
                </div>
            </div><p></p>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <b>Paciente: </b> {{ detalle.paciente.get_name_nro_doc }}
                </div>
                <div class="col-sm-6">
                    <b>Fecha de la consulta: </b>{{ detalle.consulta.fecha }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <b>Especialidad: </b>{{ detalle.consulta.especialidad }}
                </div>
                <div class="col-sm-6">
                    <b>Médico: </b>{{ detalle.consulta.medico.get_dr_full_name }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <b>Hora de inicio: </b>{{ detalle.hora_inicio }}
                </div>
                <div class="col-sm-6">
                    <b>Hora de finalización: </b>{% if detalle.hora_fin %}{{ detalle.hora_fin }}{% else%}--{% endif %}
                </div>
            </div>

            {% if detalle.estado.codigo == "C" %}
            <div class="row">
                <div class="col-xs-4 col-md-2 col-lg-3">
                    <b>Finalizado como:</b>
                </div>
                {{ detalle.estado.nombre }}
            </div>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <b><u>ANAMNESIS:</u></b>
                </div>
                <div class="col-sm-11 col-lg-11">
                    {% for data in anamnesis %}
                        {{ data.observacion|safe }}
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <b><u>DIAGNÓSITCO:</u></b>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if diagnosticos %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Código CIE-10</th>
                                <th>Nombre</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in diagnosticos %}
                            <tr>
                                <td>{{ data.cie10.codigo }}</td>
                                <td>{{ data.cie10.descripcion }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <b><u>EVOLUCIÓN:</u></b>
                </div>
                <div class="col-sm-11 col-lg-11">
                    {% if evoluciones %}
                        {% for data in evoluciones %}
                            {{ data.observaciones|safe }}
                        {% endfor %}
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 col-lg-11">
                    <b><u>ORDEN DE ESTUDIO:</u></b>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if ordenes %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Estudio</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in ordenes %}
                            <tr>
                                <td>{{ data.orden_estudio }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <b><u>PRESCRIPCIÓN:</u></b>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if prescripciones %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Medicamento</th>
                                <th>Posología</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in prescripciones %}
                            <tr>
                                <td>{{ data.medicamento }}</td>
                                <td>{{ data.posologia|safe }}</td>
                                <td class="text-center">{{ data.cantidad }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <b><u>TRATAMIENTO:</u></b>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if tratamientos %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in tratamientos %}
                            <tr>
                                <td>{{ data.descripcion }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}


