{% extends "base/base.html" %}

{% block content %}

<h1>Evolución del paciente</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Fecha</td>
			<td>Hora</td>
			<td>Observaciones</td>
			<td>Firma</td>
		</tr>
	</thead>
	<tbody>

		<div class="btn-group pull-right">
			<a href="{% url 'consultorios:evolucion_paciente_nuevo' %}" id="create" class="btn btn-default"><i class="fa fa-plus-square" aria-hidden="true"></i></i> Nuevo</a>
			<p>
		</div>

		{% if object_list %}
		{% for evolucion in object_list %}
		<tr>
			<td>
				<a href="/consultorios/evolucion_paciente/{{ evolucion.id }}/editar">{{ evolucion.fecha }}</a>
			</td>
			<td>{{ evolucion.hora }}</td>
			<td>{{ evolucion.observaciones }}</td>
			<td>{{ evolucion.medico.nombres }} {{ evolucion.medico.apellidos }}</td>

		</tr>
		{% endfor %}
		{% else %}
		<h1>No existen datos.</h1>
		<div class="btn-group pull-right">
			<a href="{% url 'consultorios:evolucion_paciente_nuevo' %}" id="create2" class="btn btn-default"><i class="fa fa-plus-square" aria-hidden="true"></i></i> Nuevo</a>
			<p>
		</div>
		{% endif %}
	</tbody>
	
</table>

{% endblock %}