

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Horarios del médico</b>
        <div class="btn-group pull-right">
            <a href="{% url 'consultorios:horario_medico_nuevo' medico.id %}" class="btn btn-default" id="create"><i class="fa fa-plus-square" aria-hidden="true"></i> Nuevo</a>
        </div>
        <p></p>
    </div>
    <div class="panel-body">
        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTables-example_length"></div>
                </div>
                <div class="col-sm-6">
                    <div id="dataTables-example_filter" class="dataTables_filter"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered table-hover table-responsive" id="dataTables-horarios" cellspacing="0" width="100%">
                        <thead>
                            <tr role="row">
                                <th aria-label>Día</th>
                                <th aria-label>Departamento</th>
                                <th aria-label>Turno</th>
                                <th aria-label>Hora inicio</th>
                                <th aria-label>Hora fin</th>
                                <th class="text-center" aria-label>Cantidad</th>
                                <th class="text-center" aria-label>Habilitado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if horarios %}
                            {% for data in horarios %}
                            <tr>
                                <td>
                                    <a href="{% url 'consultorios:horario_medico_editar' medico.id data.id %}">{{ data.dia_semana }}</a>
                                </td>
                                <td>{{ data.cod_departamento.nombre }}</td>
                                <td>{{ data.turno.nombre }}</td>
                                <td>{{ data.hora_inicio }}</td>
                                <td>{{ data.hora_fin }}</td>
                                <td class="text-center">{{ data.cantidad }}</td>
                                <td class="text-center">
                                    {% if data.habilitado %}
                                    {{ "SÍ" }}
                                    {% else %}
                                    {{ "NO" }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<div class="pagination">
    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
            {% endif%}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
            {% endif%}
        </li>
    </ul>
</div>

