{%extends 'base/base2.html' %}
{% load static%}

{%block content %}
<br>
<div class="panel panel-default">

    <div class="panel-heading">
        Listado de médicos
        <div class="btn-group pull-right">
            <a href="{% url 'consultorios:medico_nuevo' %}" class="btn btn-default" id="create"><i class="fa fa-plus-square" aria-hidden="true"></i> Nuevo</a>
        </div>
        <p></p>
    </div>
    <div class="panel-body">
        {% include 'base/messages.html' %}
        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length"></div></div><div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter"></div></div></div><div class="row"><div class="col-sm-12"><table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th aria-label>Apellidos, Nombres</th>
                    <th aria-label>Documento de identidad</th>
                    <th aria-label>Nro. Registro Profesional</th>

                </tr>
            </thead>
            <tbody>
            {% if object_list %}
            {% for data in object_list %}
                <tr>
                    <td>
                        <a href="/consultorios/medico/{{ data.id }}/editar">{{ data.apellidos }}, {{ data.nombres }}</a>
                    </td>
                    <td>{{ data.tipo_doc.codigo }} - {{ data.nro_doc }}</td>
                    <td>{{ data.nro_registro_profesional }}</td>

                </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registros.</h1>
            {% endif %}
            </tbody>
        </table>
        </div>
        </div>
    </div>

    </div>
</div>

<div class="pagination">
    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
            {% endif%}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
            {% endif%}
        </li>
    </ul>
</div>
</div>
{% endblock%}
