{% extends 'base/base.html' %}

{% block content %}

<h1>Listado de médicos</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Médico</td>
			<td>Documento de identidad</td>
			<td>Nro. Registro</td>
			<!--<td>Especialidades</td>-->
			<!--<td>Acciones</td>-->
		</tr>
	</thead>
	<tbody>
		<div class="btn-group pull-right">
			<a href="{% url 'consultorios:medico_nuevo' %}" id="create" class="btn btn-default"><i class="fa fa-plus-square" aria-hidden="true"></i> Nuevo</a>
			<p>
		</div>

		{% if object_list %}
		{% for obj in object_list %}
		<tr>
			<td>
				<a href="/consultorios/medico/{{obj.id}}/editar">{{ obj.id }}</a>
			</td>
			<td>{{ obj.apellidos }}, {{ obj.nombres }}</td>
			<td>{{ obj.tipo_doc.codigo }} - {{ obj.nro_doc }}</td>
			<td>{{ obj.nro_registro_medico }}</td>
			<!--<td>{{ obj.especialidad }}</td>-->
			<!--<td>{{ Medico.objects.especialidad }}</td>-->
			<!--<td>
				{% for esp in obj.get_especialidades %}
					{{ esp }}
				{% endfor %}
			</td>-->
		</tr>
		{% endfor %}
		{% else %}
		<h1>No existen datos.</h1>
		<div class="btn-group pull-right">
			<a href="{% url 'consultorios:medico_nuevo' %}" id="create2" class="btn btn-default"><i class="fa fa-plus-square" aria-hidden="true"></i></i> Nuevo</a>
			<p>
		</div>
		{% endif %}
	</tbody>

</table>

{% endblock %}