{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap3-wysihtml5.min.css' %}">

<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form role="form" id="id_form"
        {% if not object.id %}
          action="{% url 'consultorios:consulta_tratamiento_crear' detalle.id  %}" method="post">
        {% else %}
          action="{% url 'consultorios:consulta_tratamiento_editar' object.pk %}" method="post">
        {% endif %}
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Tratamiento</h4>
      </div>
      <div class="modal-body" style="overflow:hidden;">
		<div class="form-horizontal" >
          {% csrf_token %}
          <div class="form-group">
              {{ form.descripcion.errors }}
              <label for="{{ form.descripcion.name }}" class="col-sm-2 control-label">{{ form.descripcion.label }}:</label>
              <div class="col-sm-8">
                  {{ form.descripcion }}
              </div>
          </div>
          <div class="form-group">
              {{ form.observacion.errors }}
              <div class="col-sm-12">
                  {{ form.observacion }}
              </div>
          </div>
        </div>

		  </div>
      <div class="modal-footer">
        <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
        <button type="button" class="btn btn-default" onclick="return cerrar_modal()"><i class="fa fa-times"></i> Cancelar</button>
      </div>
		</form>
    </div>

  </div>

<script src = "{% static 'js/jquery.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>
<script src = "{% static 'js/bootstrap3-wysihtml5.all.min.js' %}"></script>

  <script>

  $(function () {
    $("#id_observacion").wysihtml5();
    $("#id_descripcion").focusin();
  });

        $("#id_form").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#id_form").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           var detalle_id = {{ detalle.id }};
                           reloadPaginaConsultaPaciente(detalle_id, "a_trat");
                       }else {
                           $('#id_form').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });
  </script>
</div>
