{% extends 'base/base2.html' %}

{% block content %}
  <div class="app-content-body">

    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Orden de Estudio - Detalle </h1>
    </div>

    <ol class="breadcrumb" style="background-color: #f6f8f8">
      <li><a href="#">Inicio</a></li>
      <li><a href="{% url 'consultorios:ordenes_estudio' %}">Listado de Órdenes de Estudio</a></li>
      <li><b>Orden de Estudio: {{ orden.nombre }}</b></li>
    </ol>
                {% include 'base/messages.html' %}
    <div class="wrapper-md">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Listado de Detalles</b>
              <div class="btn-group pull-right">
                 <a onclick="return abrir_modal('{% url 'consultorios:orden_estudio_detalle_crear' orden.pk  %}')">
                   <button class="btn btn-default"><i class="fa fa-plus-square"></i> Nuevo
                   </button>
                 </a>

              </div><p></p>
            </div>
              <div class="panel-body">
                <table class="table table-hover table-condensed table-bordered" width="100%">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acción</th>
                  </tr>
                  </thead>
                <tbody>
                {% for detalle in orden_detalle %}
                  <tr>
                    <td width='50'>{{ detalle.nombre }}</td>
                    <td width='50'>{{ detalle.observacion }} </td>
                    <td width='50' align='center'>
                      <a class="btn btn-xs" title="Editar"
                        onclick="return abrir_modal('{% url 'consultorios:orden_estudio_detalle_editar' detalle.id %}')">
                        <i class="fa fa-pencil"></i>
                      </a>
                        <a class="btn btn-xs" title="Eliminar"
                        onclick="return abrir_modal('{% url 'consultorios:orden_estudio_detalle_eliminar' detalle.id %}')">
                        <i class="fa fa-times-circle"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>

              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="popup" class="modal fade"  aria-hidden="true" role="dialog" tabindex="-1" style="height: auto;margin: auto; posicion:fixed;"></div>

{% endblock %}


