{% load staticfiles %}

{% load static %}

 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Orden de Estudio</title>
    <style type="text/css">

      #cabecera {
          text-align: center;
          bold:true;
          font-size: 15px;

      }
      li{
        list-style-type: lower-roman
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 5px;
          font-size: 12px;
          font-family: arial;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
      table, th, td {
    border: 1px solid black;
}
    </style>
  </head>
  <body>
    <div class="app-content-body">
      <div class="panel panel-default">
        <div class="panel-body">
            {% include 'base/membrete.html' %}
            <b id="cabecera"><u>ORDEN DE ESTUDIO</u></b>

            <div class="col-sm-6">
                  <span style="font-weight:bold; font-size: 12px;font-family: arial;">Paciente:</span>
                  <span style="font-weight:normal; font-size: 12px;font-family: arial;">{{ detalle.paciente.get_name_nro_doc }}</span>
                  <br/>
                  <span style="font-weight:bold;font-size: 12px;font-family: arial;">Médico:</span>
                  <span style="font-weight:normal;font-size: 12px;font-family: arial;">{{ detalle.consulta.medico }}</span>
                  <br/>
                  <span style="font-weight:bold;font-size: 12px;font-family: arial;">Fecha:</span>
                  <span style="font-weight:normal;font-size: 12px;font-family: arial;">{{ detalle.consulta.fecha }}</span>
                  <br/>
                </div>
            <div class="col-sm-6">
                <span style="font-weight:bold;font-size: 12px;font-family: arial;">Especialidad:</span>
              <span style="font-weight:normal;font-size: 12px;font-family: arial;">{{ detalle.consulta.especialidad }}</span>
              <br/>
            </div>

        </div>
            <div class="row">
                <div class="col-sm-4 col-lg-11">
                    <div style="font-weight:bold; font-size: 12px;"><li><u>ORDEN DE ESTUDIO: </u></li></div>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if ordenes %}
                    <table>
                        <thead>
                            <tr>
                                <th>Estudio</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in ordenes %}
                            <tr>
                                <td>{{ data.orden_estudio }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
    </div>
  </body>

</html>


