 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Resumen de la Consulta</title>
    <style type="text/css">
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
      table, th, td {
    border: 1px solid black;
}
    </style>
  </head>
  <body>
    <div class="app-content-body">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <h1 align="center"><b>SIHINCAN</b></h1>
            <h1 align="center"><b>Reporte de la Consulta del Paciente: {{ detalle.paciente.get_full_name }}</b></h1>
          </div>
          <h2><b><u>1. Datos de la Consulta</u></b></h2>
          <div class="row">
            <div class="col-sm-6">

              <span class="font-bold">Fecha:</span>
              <span class="font-normal">{{ detalle.consulta.fecha }}</span>
              <br/>
              <span class="font-bold">Hora de Inicio:</span>
              <span class="font-normal">{{ detalle.hora_inicio }}

              </span>
              <br/>

            </div>
            <div class="col-sm-6">

              <span class="font-bold">Hora de Inicio:</span>
              <span class="font-normal">{% if detalle.hora_fin %}{{ detalle.hora_fin }}
              {% else %}Sin hora de finalización{% endif %}</span>
              <br/>
            </div>
          </div>
            {% if detalle.estado.codigo == "C" %}
            <div class="row">
                <div class="col-xs-4 col-md-2 col-lg-3">
                    <b>Finalizado como:</b>
                </div>
                {{ detalle.estado.nombre }}
            </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-4">
                    <h2><b><u>2. Resumen de la anamnesis:</u></b></h2>
                </div>
                <div class="col-md-12">
                    <ul type="circle">
                    {% for data in anamnesis %}

                      {{ data.observacion|safe }}

                    {% endfor %}
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                  <h2><b><u>3. Resumen del diagnóstico:</u></b></h2>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if diagnosticos %}
                    <table class="table">
                        <thead>
                            <tr>
                              <th><b>Código CIE-10</b></th>
                              <th><b>Nombre</b></th>
                              <th><b>Observación</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in diagnosticos %}
                            <tr>
                                <td>{{ data.cie10.codigo }}</td>
                                <td>{{ data.cie10.descripcion }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                  <h2><b><u>4. Resumen de evolución del paciente:</u></b></h2>
                </div>
                <div class="col-md-12">
                    <ul>
                    {% if evoluciones %}
                        {% for data in evoluciones %}
                            {{ data.observaciones|safe }}
                        {% endfor %}
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 col-lg-11">
                    <h2><b><u>5. Resumen de la orden de estudio:</u></b></h2>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if ordenes %}
                    <table>
                        <thead>
                            <tr>
                                <th>Estudio</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in ordenes %}
                            <tr>
                                <td>{{ data.orden_estudio }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">

                    <h2><b><u>6. Resumen de la prescripción:</u></b></h2>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if prescripciones %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Medicamento</th>
                                <th>Posología</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in prescripciones %}
                            <tr>
                                <td>{{ data.medicamento }}</td>
                                <td>{{ data.posologia|safe }}</td>
                                <td class="text-center">{{ data.cantidad }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">

                    <h2><b><u>7. Resumen del tratamiento:</u></b></h2>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if tratamientos %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in tratamientos %}
                            <tr>
                                <td>{{ data.descripcion }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
  </body>

</html>


