 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Historia Clínica</title>
    <style type="text/css">
      td, th {
          border: 1px solid black;
          border-style: 1px solid black;
          text-align: left;
          padding: 2px;
          font-size: 12px;
          font-family: arial;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }

	  table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

	  #contenedor{
       text-align: left;
       width: 750px;
       margin: auto;
      }

      #datos {
        border: none;
        border-style: none;
        padding: 0px;
      }
      #first{
        border: none;
        border-style: none;
        padding: 2px;
      }
      #second{
        border: none;
        border-style: none;
        padding: 2px;
      }

      li{
        list-style-type: lower-roman
      }
    </style>
  </head>
  <body>
    <div class="app-content-body">
      <div class="panel panel-default">
        <div class="panel-body">

            {% include 'base/membrete.html' %}
              <h1 align="center" style="font-size: 18px;" ><u>HISTORIA CLÍNICA</u></h1>
            <div style="font-weight:bold; font-size: 15px;"><u>DATOS DE LA CONSULTA: </u></div>
            <div id="contenedor">
                <body>
                <table id="datos">
                    <tr id="primero">
                        <td id="first" class="first">
                            <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Paciente: </strong> {{  detalle.paciente.get_name_nro_doc }}</div>
                            <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Médico: </strong> {{ detalle.consulta.medico }}</div>
                            <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Hora de Inicio: </strong>{{ detalle.hora_inicio }}</div>
                            {% if detalle.estado.codigo == "C" %}<div><strong>Finalizado como: </strong>{{ detalle.estado.nombre }}</div>{% endif %}
                        </td>
                        <td id="second" class="second">
                            <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Fecha: </strong>{{ detalle.consulta.fecha }}</div>
                            <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Especialidad</strong>: </strong>{{ detalle.consulta.especialidad }}</div>
                            <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Hora de Fin: </strong>{% if detalle.hora_fin %}{{ detalle.hora_fin }}
                                {% else %}Sin hora de finalización{% endif %}</div>
                        </td>
                    </tr>
                </table>
            </body>
            </div>

            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div style="font-weight:bold; font-size: 13px;"><li><u>ANAMNESIS: </u></li></div>
                </div>
                <div class="col-md-12">
                    <ul style=" font-weight:normal; font-size: 12px;" type="circle">
                    {% if anamnesis %}
                        {% for data in anamnesis %}
                            {{ data.observacion|safe }}
                        {% endfor %}
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                  <div style="font-weight:bold; font-size: 13px;"><li><u>DIAGNÓSTICO: </u></li></div>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if diagnosticos %}
                    <table class="table">
                        <thead>
                            <tr>
                              <th><b>Código CIE-10</b></th>
                              <th><b>Nombre</b></th>
                              <th><b>Observación</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in diagnosticos %}
                            <tr>
                                <td>{{ data.cie10.codigo }}</td>
                                <td>{{ data.cie10.descripcion }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <ul style=" font-weight:normal; font-size: 12px;">{{ "SIN ESPECIFICAR" }}</ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div style="font-weight:bold; font-size: 13px;"><li><u>EVOLUCIÓN: </u></li></div>
                </div>
                <div class="col-md-12">
                    <ul style=" font-weight:normal; font-size: 12px;">
                    {% if evoluciones %}
                        {% for data in evoluciones %}
                            {{ data.observaciones|safe }}
                        {% endfor %}
                    {% else %}
                    {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 col-lg-11">
                    <div style="font-weight:bold; font-size: 13px;"><li><u>ORDEN DE ESTUDIO: </u></li></div>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if ordenes %}
                    <table>
                        <thead>
                            <tr>
                                <th>Estudio</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in ordenes %}
                            <tr>
                                <td>{{ data.orden_estudio }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <ul style=" font-weight:normal; font-size: 12px;">{{ "SIN ESPECIFICAR" }}</ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div style="font-weight:bold; font-size: 12px;"><li><u>PRESCRIPCIÓN: </u></li></div>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if prescripciones %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th  style="border: 1px solid black; padding: 2px;">Cantidad</th>
                                <th>Medicamento</th>
                                <th>Tipo de Presentación</th>
                                <th>Posología</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in prescripciones %}
                            <tr>
                                <td  style="border: 1px solid black; padding: 2px;">{{ data.cantidad }}</td>
                                <td>{{ data.medicamento }}</td>
                                <td>{{ data.medicamento.tipificacion }}</td>
                                <td>{{ data.posologia|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <ul style=" font-weight:normal; font-size: 12px;">{{ "SIN ESPECIFICAR" }}</ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div style="font-weight:bold; font-size: 12px;"><li><u>TRATAMIENTO: </u></li></div>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if tratamientos %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in tratamientos %}
                            <tr>
                                <td>{{ data.descripcion }}</td>
                                <td>{{ data.observacion|safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <ul style=" font-weight:normal; font-size: 12px;">{{ "SIN ESPECIFICAR" }}</ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
  </body>

</html>


