{% extends 'base/base2.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'apps/consultorios/css/consulta_iniciar.css' %}">
{% endblock %}



{% block content %}
  <div class="app-content-body">

    <ol class="breadcrumb" style="background-color: #f6f8f8">
      <li><a href="#">Inicio</a></li>
      <li><a href="{% url 'consultorios:consulta_detalle_dia' detalle.consulta.pk %}">Listado de Agendados</a></li>
      <li class="active">Especialidad:{{ consulta.especialidad }}</li>
    </ol>
    <input type="hidden" id="detalle_id" name="detalle_id" value="{{ detalle.id }}">
    <input type="hidden" id="consulta_id" name="consulta_id" value="{{ detalle.consulta.pk }}">
    <input type="hidden" id="ir_a_tab" name="ir_a_tab" value="{{ ir_a_tab }}">
    <div class="row">
      <div class="col-lg-12 pull-right">
        <div class="col pull-right">
          <a id="volver" type="button" class="btn btn-default" href="{% url 'consultorios:consulta_detalle_dia' consulta.id  %}"> <i class="fa fa-list" aria-hidden="true"></i> Volver a la lista</a>
          <a id="cancelar" type="button" class="btn btn-danger" href="javascript:void(0)"> <i class="fa fa-ban" aria-hidden="true"></i> Cancelar consulta</a>
          <a id="finalizar" type="button" class="btn btn-success" href="javascript:void(0)"> <i class="fa fa-check-square-o" aria-hidden="true"></i> Finalizar consulta</a>
        </div>
      </div>
    </div><p>
    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Datos Básicos del Paciente</h3>
          <div class="col pull-right">
            <a class="btn btn-primary" type="button"
               onclick="window.location.href='{% url 'consultorios:consulta_historia_clinica' detalle.pk detalle.paciente.pk %}'">
              <i class="fa fa-book" aria-hidden="true"></i> Historia Clínica</a>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
          <div class="col-sm-6">
            <span style="font-weight:bold">Nombre y Apellido:</span>
            <span style="font-weight:normal">{{ detalle.paciente.get_full_name }}</span>
            <br/>
            <span style="font-weight:bold">Tipo de Documento:</span>
            <span style="font-weight:normal">{{ detalle.paciente.tipo_doc }}</span>
            <br/>
            <span style="font-weight:bold">Nro Documento:</span>
            <span style="font-weight:normal">{{ detalle.paciente.nro_doc }}</span>
            <br/>
            <span style="font-weight:bold">Sexo:</span>
            <span style="font-weight:normal">{% if detalle.paciente.sexo %}
              {{ detalle.paciente.sexo }}
              {% else %}SIN DATOS
              {% endif %}
            </span>
            <br/>

            <br/>
          </div>
          <div class="col-sm-6">

            <span style="font-weight:bold">Fecha Nacimiento: &nbsp;&nbsp;&nbsp;</span>
            <span style="font-weight:normal">{{ detalle.paciente.fecha_nacimiento }}</span>
            <br/>
            <span style="font-weight:bold">Lugar Nacimiento: &nbsp;&nbsp;&nbsp;</span>
            <span style="font-weight:normal">{% if detalle.paciente.lugar_nacimiento %}
              {{ detalle.paciente.lugar_nacimiento }}
              {% else %}SIN DATOS
              {% endif %}
            </span>
            <br/>
            <span style="font-weight:bold">Nacionalidad: &nbsp;&nbsp;&nbsp;</span>
            <span style="font-weight:normal">{% if detalle.paciente.nacionalidad %}
              {{ detalle.paciente.nacionalidad }}
              {% else %}SIN DATOS
              {% endif %}
            </span>
            <br>
            <span style="font-weight:bold">Estado Civil:</span>
            <span style="font-weight:normal">{% if detalle.paciente.estado_civil %}
              {{ detalle.paciente.estado_civil }}
            {% else %}SIN DATOS
              {% endif %}
            </span>
            <br/>
          </div>
          <div class="col-sm-6" style="display:none">
              <div class="reloj" id="Horas">00</div>
              <div class="reloj" id="Minutos">:00</div>
              <div class="reloj" id="Segundos">:00</div>
              <div class="reloj" id="Centesimas">:00</div>
              <input type="button" class="boton" id="inicio" value="Iniciar &#9658;" onclick="inicio();">
              <input type="button" class="boton" id="parar" value="Detener &#8718;" onclick="parar();" disabled>
              <input type="button" class="boton" id="continuar" value="Continuar &#8634;" onclick="inicio();" disabled>
              <input type="button" class="boton" id="reinicio" value="Reiniciar &#8635;" onclick="reinicio();" disabled>

          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 pull-right">
        <div class="col pull-right">
          <a class="btn btn-primary" type="button" onclick="window.location.href='{% url 'consultorios:consulta_historia_clinica' detalle.pk detalle.paciente.pk %}'"><i class="fa fa-book" aria-hidden="true"></i> Historia Clínica</a>
        </div>
      </div>

    </div>
    <p></p>
    {% include 'base/messages.html' %}

	  <div class="row">
      <div role="tabpanel">
            <div class="col-sm-2">
                <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
                    <li role="presentation" class="brand-nav active">
                      <a id="a_anam" href="#tab_datos_anamnesis" aria-controls="tab_datos_anamnesis" role="tab" data-toggle="tab">Anamnesis</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_diag" href="#tab_diagnostico" aria-controls="tab_diagnostico" role="tab" data-toggle="tab">Diagnóstico</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_evol" href="#tab_evolucion" aria-controls="tab_evolucion" role="tab" data-toggle="tab">Evolución del Paciente</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_orde" href="#tab_orden_estudio" aria-controls="tab_orden_estudio" role="tab" data-toggle="tab">Orden de Estudio</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_pres" href="#tab_prescripcion" aria-controls="tab_prescripcion" role="tab" data-toggle="tab">Prescripción</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_trat" href="#tab_tratamiento" aria-controls="tab_tratamiento" role="tab" data-toggle="tab">Tratamiento</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab_datos_anamnesis">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Anamnesis del Paciente</b>
                              <div class="btn-group pull-right">
                                <a onclick="return abrir_modal('{% url 'consultorios:anamnesis_crear' detalle.pk  %}')">
                                  <button class="btn btn-default"><i class="fa fa-plus-square"></i> Nuevo
                                  </button>
                                </a>
                              </div><p></p>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th>Observación</th>
                                  <th>Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for anamne in anamnesis %}
                                  <tr>
                                    <td><div class="container-fluid">{{ anamne.observacion|safe }}</div></td>
                                    <td>
                                      {% if anamne.consulta_detalle.id == detalle.id %}
                                      <a class="btn btn-xs" title="Editar"
                                         onclick="return abrir_modal('{% url 'consultorios:anamnesis_editar' anamne.id %}')">
                                        <i class="fa fa-pencil"></i>
                                      </a>
                                      <a class="btn btn-xs" title="Eliminar"
                                         onclick="return abrir_modal('{% url 'consultorios:anamnesis_paciente_eliminar' anamne.id %}')">
                                        <i class="fa fa-times-circle"></i>
                                      </a>
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab_diagnostico">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Lista de Diagnósticos</b>
                              <div class="btn-group pull-right">
                                <a onclick="return abrir_modal('{% url 'consultorios:consulta_diagnostico_crear' detalle.pk  %}')">
                                  <button class="btn btn-default"><i class="fa fa-plus-square"></i> Nuevo
                                  </button>
                                </a>
                              </div><p></p>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th>CIE10</th>
                                  <th>Descripción</th>
                                  <th>Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for diagnostico in diagnosticos %}
                                  <tr>
                                    <td style="width: 40%">{{ diagnostico.cie10 }}</td>
                                    <td style="width:40%;"><div class="container-fluid">{{ diagnostico.observacion|safe }}</div></td>
                                    <td>
                                      {% if diagnostico.consulta_detalle.id == detalle.id %}
                                      <a class="btn btn-xs" title="Editar"
                                         onclick="return abrir_modal('{% url 'consultorios:consulta_diagnostico_editar' diagnostico.id %}')">
                                        <i class="fa fa-pencil"></i>
                                      </a>
                                        <a class="btn btn-xs" title="Eliminar"
                                         onclick="return abrir_modal('{% url 'consultorios:consulta_diagnostico_eliminar' diagnostico.id %}')">
                                        <i class="fa fa-times-circle"></i>
                                      </a>
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  <div role="tabpanel" class="tab-pane" id="tab_evolucion">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Anotaciones del médico</b>
                              <div class="btn-group pull-right">
                                <a onclick="return abrir_modal('{% url 'consultorios:evolucion_paciente_crear' detalle.pk  %}')">
                                  <button class="btn btn-default"><i class="fa fa-plus-square"></i> Nuevo
                                  </button>
                                </a>
                              </div><p></p>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th>Fecha</th>
                                  <th>Hora</th>
                                  <th style="width:50%;">Observaciones</th>
                                  <th>Firma</th>
                                  <th>Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for evo in evoluciones %}
                                  <tr>
                                    <td>{{ evo.fecha|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ evo.hora }} </td>
                                    <td><div class="container-fluid">{% autoescape off %}{{ evo.observaciones|safe }}{% endautoescape %}</div></td>
                                    <td>{{ evo.medico.get_dr_full_name }} </td>
                                    <td>
                                      {% if evo.consulta_detalle.id == detalle.id %}
                                      <a class="btn btn-xs" title="Editar"
                                         onclick="return abrir_modal('{% url 'consultorios:evolucion_paciente_editar' evo.id %}')">
                                        <i class="fa fa-pencil"></i>
                                      </a>
                                        <a class="btn btn-xs" title="Eliminar"
                                         onclick="return abrir_modal('{% url 'consultorios:evolucion_paciente_eliminar' evo.id %}')">
                                        <i class="fa fa-times-circle"></i>
                                      </a>
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                    <div role="tabpanel" class="tab-pane" id="tab_orden_estudio">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Lista de Órdenes de Estudio</b>
                              <div class="btn-group pull-right">
                                <a onclick="return abrir_modal('{% url 'consultorios:consulta_orden_estudio_crear' detalle.pk  %}')">
                                  <button class="btn btn-default"><i class="fa fa-plus-square"></i> Nuevo
                                  </button>
                                </a>
                              </div><p></p>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th style="width:20%;">Orden de Estudio</th>
                                    <th style="width:10%;">Fecha de Solicitud</th>
                                    <th style="width:60%;">Observación</th>
                                    <th style="width:10%;">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for orden in ordenes %}
                                <tr>
                                    <td>{{ orden.orden_estudio }}</td>
                                    <td>{{ orden.fecha_solicitud|date:"SHORT_DATE_FORMAT" }} </td>
                                  <td><div class="container-fluid">{% autoescape off %}{{ orden.observacion|safe }}{% endautoescape %}</div></td>
                                    <td>
                                        {% if orden.consulta_detalle.id == detalle.id %}
                                        <a class="btn btn-xs" title="Eliminar"
                                           onclick="return abrir_modal('{% url 'consultorios:consulta_orden_estudio_editar' orden.id %}')">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        </a>
                                        <a class="btn btn-xs" title="Eliminar"
                                           onclick="return abrir_modal('{% url 'consultorios:consulta_orden_estudio_eliminar' orden.id %}')">
                                            <i class="fa fa-times-circle"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab_prescripcion">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Lista de Prescripción</b>
                              <div class="btn-group pull-right">
                                <a onclick="return abrir_modal('{% url 'consultorios:consulta_prescripcion_crear' detalle.pk  %}')">
                                  <button class="btn btn-default"><i class="fa fa-plus-square"></i> Nuevo
                                  </button>
                                </a>
                              </div><p></p>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th>Medicamento</th>
                                  <th>Posología</th>
                                  <th>Cantidad</th>
                                  <th>Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for prescripcion in prescripciones %}
                                  <tr>
                                    <td>{{ prescripcion.medicamento }}</td>
                                    <td><div class="container-fluid">{{ prescripcion.posologia|safe }}</div></td>
                                    <td>{{ prescripcion.cantidad }} </td>
                                    <td>
                                      {% if prescripcion.consulta_detalle.id == detalle.id %}
                                      <a class="btn btn-xs" title="Editar"
                                         onclick="return abrir_modal('{% url 'consultorios:consulta_prescripcion_editar' prescripcion.id %}')">
                                        <i class="fa fa-pencil"></i>
                                      </a>
                                        <a class="btn btn-xs" title="Eliminar"
                                         onclick="return abrir_modal('{% url 'consultorios:consulta_prescripcion_eliminar' prescripcion.id %}')">
                                        <i class="fa fa-times-circle"></i>
                                      </a>
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab_tratamiento">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Lista de Tratamientos</b>
                              <div class="btn-group pull-right">
                                <a onclick="return abrir_modal('{% url 'consultorios:consulta_tratamiento_crear' detalle.pk  %}')">
                                  <button class="btn btn-default"><i class="fa fa-plus-square"></i> Nuevo
                                  </button>
                                </a>
                              </div><p></p>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example3" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th style="width:30%;">Descripción</th>
                                  <th>Observación</th>
                                  <th style="width:10%;">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tratamiento in tratamientos %}
                                  <tr>
                                    <td>{{ tratamiento.descripcion }}</td>
                                    <td><div class="container-fluid">{% autoescape off %}{{ tratamiento.observacion|safe }}{% endautoescape %}</div></td>
                                    <td>
                                      {% if tratamiento.consulta_detalle.id == detalle.id %}
                                      <a class="btn btn-xs" title="Editar"
                                         onclick="return abrir_modal('{% url 'consultorios:consulta_tratamiento_editar' tratamiento.id %}')">
                                        <i class="fa fa-pencil"></i>
                                      </a>
                                        <a class="btn btn-xs" title="Eliminar"
                                         onclick="return abrir_modal('{% url 'consultorios:consulta_tratamiento_eliminar' tratamiento.id %}')">
                                        <i class="fa fa-times-circle"></i>
                                      </a>
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div id="popup" class="modal fade"  aria-hidden="true"
       role="dialog" tabindex="-1" style="height: auto;margin: auto; posicion:fixed;"></div>


{% endblock %}

{% block extrajs %}
  <script src = "{% static 'apps/consultorios/js/consulta_iniciar.js' %}"></script>
  <script>
    var centesimas = 0;
    var segundos = 0;
    var minutos = 0;
    var horas = 0;
    function inicio () {
      control = setInterval(cronometro,10);
      document.getElementById("inicio").disabled = true;
      document.getElementById("parar").disabled = false;
      document.getElementById("continuar").disabled = true;
      document.getElementById("reinicio").disabled = false;
    }
    function parar () {
      clearInterval(control);
      document.getElementById("parar").disabled = true;
      document.getElementById("continuar").disabled = false;
    }
    function reinicio () {
      clearInterval(control);
      centesimas = 0;
      segundos = 0;
      minutos = 0;
      horas = 0;
      Centesimas.innerHTML = ":00";
      Segundos.innerHTML = ":00";
      Minutos.innerHTML = ":00";
      Horas.innerHTML = "00";
      document.getElementById("inicio").disabled = false;
      document.getElementById("parar").disabled = true;
      document.getElementById("continuar").disabled = true;
      document.getElementById("reinicio").disabled = true;
    }
    function cronometro () {
      if (centesimas < 99) {
        centesimas++;
        if (centesimas < 10) { centesimas = "0"+centesimas }
        Centesimas.innerHTML = ":"+centesimas;
      }
      if (centesimas == 99) {
        centesimas = -1;
      }
      if (centesimas == 0) {
        segundos ++;
        if (segundos < 10) { segundos = "0"+segundos }
        Segundos.innerHTML = ":"+segundos;
      }
      if (segundos == 59) {
        segundos = -1;
      }
      if ( (centesimas == 0)&&(segundos == 0) ) {
        minutos++;
        if (minutos < 10) { minutos = "0"+minutos }
        Minutos.innerHTML = ":"+minutos;
      }
      if (minutos == 59) {
        minutos = -1;
      }
      if ( (centesimas == 0)&&(segundos == 0)&&(minutos == 0) ) {
        horas ++;
        if (horas < 10) { horas = "0"+horas }
        Horas.innerHTML = horas;
      }
    }
  </script>
  <script>
  $('#dataTables-example2').DataTable({
         responsive: true,
         "language": {
             "lengthMenu": "Mostrar _MENU_   registros",
             "zeroRecords": "No existen registros",
             "info": "Mostrando la página page _PAGE_ de _PAGES_",
             "infoEmpty": "No hay registros disponibles",
             "infoFiltered": " ",
             "sSearch": "Buscar:",
             "paginate": {
                 "previous": "Anterior",
                 "next": "Siguiente"
             }

         }
     });
    $('#dataTables-example5').DataTable({
         responsive: true,
         "language": {
             "lengthMenu": "Mostrar _MENU_   registros",
             "zeroRecords": "No existen registros",
             "info": "Mostrando la página page _PAGE_ de _PAGES_",
             "infoEmpty": "No hay registros disponibles",
             "infoFiltered": " ",
             "sSearch": "Buscar:",
             "paginate": {
                 "previous": "Anterior",
                 "next": "Siguiente"
             }

         }
     });
  </script>
  <script>
  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>

{% endblock %}


