{% extends 'base/base2.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'apps/consultorios/css/consulta_iniciar.css' %}">
{% endblock %}
{% block content %}
  <div class="app-content-body">

    <ol class="breadcrumb" style="background-color: #f6f8f8">
      <li><a href="#">Inicio</a></li>
      <li><a href="{% url 'consultorios:historia_clinica' %}">Historia Clínica</a></li>
    </ol>
	  <div class="row">
      <div role="tabpanel">
            <div class="col-sm-2">
                <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
                    <li role="presentation" class="brand-nav active">
                      <a id="a_anam" href="#tab_datos_anamnesis" aria-controls="tab_datos_anamnesis" role="tab" data-toggle="tab">Anamnesis</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_diag" href="#tab_diagnostico" aria-controls="tab_diagnostico" role="tab" data-toggle="tab">Diagnóstico</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_evol" href="#tab_evolucion" aria-controls="tab_evolucion" role="tab" data-toggle="tab">Evolución del Paciente</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_orde" href="#tab_orden_estudio" aria-controls="tab_orden_estudio" role="tab" data-toggle="tab">Orden de Estudio</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_pres" href="#tab_prescripcion" aria-controls="tab_prescripcion" role="tab" data-toggle="tab">Prescripción</a></li>
                    <li role="presentation" class="brand-nav">
                      <a id="a_trat" href="#tab_tratamiento" aria-controls="tab_tratamiento" role="tab" data-toggle="tab">Tratamiento</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab_datos_anamnesis">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Anamnesis del Paciente</b>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example8" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th>Observación</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for anamne in anamnesis %}
                                  <tr>
                                    <td>{{ anamne.observacion|safe }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab_diagnostico">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Lista de Diagnósticos</b>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th>CIE10</th>
                                  <th>Descripción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for diagnostico in diagnosticos %}
                                  <tr>
                                    <td style="width: 40%">{{ diagnostico.cie10 }}</td>
                                    <td style="width:40%;">{{ diagnostico.observacion|safe }} </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  <div role="tabpanel" class="tab-pane" id="tab_evolucion">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Anotaciones del médico</b>
                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th>Fecha</th>
                                  <th>Hora</th>
                                  <th style="width:50%;">Observaciones</th>
                                  <th>Firma</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for evo in evoluciones %}
                                  <tr>
                                    <td>{{ evo.fecha|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ evo.hora }} </td>
                                    <td>{% autoescape off %}{{ evo.observaciones|safe }}{% endautoescape %} </td>
                                    <td>{{ evo.medico.get_dr_full_name }} </td>

                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                    <div role="tabpanel" class="tab-pane" id="tab_orden_estudio">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Lista de Órdenes de Estudio</b>

                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th style="width:20%;">Orden de Estudio</th>
                                    <th style="width:10%;">Fecha de Solicitud</th>
                                    <th style="width:60%;">Observación</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for orden in ordenes %}
                                <tr>
                                    <td>{{ orden.orden_estudio }}</td>
                                    <td>{{ orden.fecha_solicitud|date:"SHORT_DATE_FORMAT" }} </td>
                                    <td>{% autoescape off %}{{ orden.observacion|safe }}{% endautoescape %}</td>

                                </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab_prescripcion">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Lista de Prescripción</b>

                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th>Medicamento</th>
                                  <th>Posología</th>
                                  <th>Cantidad</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for prescripcion in prescripciones %}
                                  <tr>
                                    <td>{{ prescripcion.medicamento }}</td>
                                    <td>{{ prescripcion.posologia|safe }} </td>
                                    <td>{{ prescripcion.cantidad }} </td>

                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab_tratamiento">
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Lista de Tratamientos</b>

                            </div>
                            <div class="panel-body">
                              <table class="table table-striped table-bordered table-hover table-responsive datatable"
                                     id="dataTables-example3" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                  <th style="width:30%;">Descripción</th>
                                  <th>Observación</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for tratamiento in tratamientos %}
                                  <tr>
                                    <td>{{ tratamiento.descripcion }}</td>
                                    <td>{% autoescape off %}{{ tratamiento.observacion|safe }}{% endautoescape %} </td>

                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div id="popup" class="modal fade"  aria-hidden="true"
       role="dialog" tabindex="-1" style="height: auto;margin: auto; posicion:fixed;"></div>


{% endblock %}

{% block extrajs %}
  <script src = "{% static 'apps/consultorios/js/consulta_iniciar.js' %}"></script>
  <script>
    var centesimas = 0;
    var segundos = 0;
    var minutos = 0;
    var horas = 0;
    function inicio () {
      control = setInterval(cronometro,10);
      document.getElementById("inicio").disabled = true;
      document.getElementById("parar").disabled = false;
      document.getElementById("continuar").disabled = true;
      document.getElementById("reinicio").disabled = false;
    }
    function parar () {
      clearInterval(control);
      document.getElementById("parar").disabled = true;
      document.getElementById("continuar").disabled = false;
    }
    function reinicio () {
      clearInterval(control);
      centesimas = 0;
      segundos = 0;
      minutos = 0;
      horas = 0;
      Centesimas.innerHTML = ":00";
      Segundos.innerHTML = ":00";
      Minutos.innerHTML = ":00";
      Horas.innerHTML = "00";
      document.getElementById("inicio").disabled = false;
      document.getElementById("parar").disabled = true;
      document.getElementById("continuar").disabled = true;
      document.getElementById("reinicio").disabled = true;
    }
    function cronometro () {
      if (centesimas < 99) {
        centesimas++;
        if (centesimas < 10) { centesimas = "0"+centesimas }
        Centesimas.innerHTML = ":"+centesimas;
      }
      if (centesimas == 99) {
        centesimas = -1;
      }
      if (centesimas == 0) {
        segundos ++;
        if (segundos < 10) { segundos = "0"+segundos }
        Segundos.innerHTML = ":"+segundos;
      }
      if (segundos == 59) {
        segundos = -1;
      }
      if ( (centesimas == 0)&&(segundos == 0) ) {
        minutos++;
        if (minutos < 10) { minutos = "0"+minutos }
        Minutos.innerHTML = ":"+minutos;
      }
      if (minutos == 59) {
        minutos = -1;
      }
      if ( (centesimas == 0)&&(segundos == 0)&&(minutos == 0) ) {
        horas ++;
        if (horas < 10) { horas = "0"+horas }
        Horas.innerHTML = horas;
      }
    }
  </script>
  <script>

  $('#dataTables-example2').DataTable({
         responsive: true,
         "language": {
             "lengthMenu": "Mostrar _MENU_   registros",
             "zeroRecords": "No existen registros",
             "info": "Mostrando la página page _PAGE_ de _PAGES_",
             "infoEmpty": "No hay registros disponibles",
             "infoFiltered": " ",
             "sSearch": "Buscar:",
             "paginate": {
                 "previous": "Anterior",
                 "next": "Siguiente"
             }

         }
     });
    $('#dataTables-example5').DataTable({
         responsive: true,
         "language": {
             "lengthMenu": "Mostrar _MENU_   registros",
             "zeroRecords": "No existen registros",
             "info": "Mostrando la página page _PAGE_ de _PAGES_",
             "infoEmpty": "No hay registros disponibles",
             "infoFiltered": " ",
             "sSearch": "Buscar:",
             "paginate": {
                 "previous": "Anterior",
                 "next": "Siguiente"
             }

         }
     });
  </script>
  <script>
  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>

{% endblock %}


