{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap3-wysihtml5.min.css' %}">

<div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <form role="form" id="evolucionForm"
        {% if not object.id %}
          action="{% url 'consultorios:evolucion_paciente_crear' detalle.id %}" method="post">
        {% else %}
          action="{% url 'consultorios:evolucion_paciente_editar' object.pk %}" method="post">
        {% endif %}
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Evolución del Paciente</h4>
      </div>
      <div class="modal-body">
      <div class="box-body pad">
		<div class="form-horizontal" >
            {% csrf_token %}
          <div class="box-header">
              <h3 class="box-title">Observación</h3>
          </div>




          <div class="form-group">
                          {{ form.observaciones.errors }}
                  <div class="col-sm-12">
                      {{ form.observaciones }}
                  </div>
              </div>
          <div class="form-group">
                          {{ form.observacion.errors }}
                  <label class="control-label col-sm-3">{{form.observacion.label}}</label>
                  <div class="col-sm-8">
                      {{ form.observacion }}
                  </div>
              </div>
		</div>

		  </div>

      <div class="modal-footer">
        <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
        <button type="button" class="btn btn-default" onclick="return cerrar_modal()"><i class="fa fa-times"></i> Cancelar</button>
      </div>
		</form>
    </div>

  </div>

<script src = "{% static 'js/jquery.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>
<script src = "{% static 'js/bootstrap3-wysihtml5.all.min.js' %}"></script>

  <script language="JavaScript">

  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $("#id_observaciones").wysihtml5();
  });

        $("#evolucionForm").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#evolucionForm").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           location.reload();
                       }else {
                           $('#diagnosticoForm').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });
  </script>
</div>
