<div class="modal-content" style="width: 700px;height: auto;
  position: absolute;left:37%;top: 32%; margin-left: -150px;
   margin-top: -150px;">
  <form role="form" id="diagnosticoForm"
          action="{% url 'consultorios:consulta_orden_estudio_crear' detalle.id %}" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h3>Orden de Estudio</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      <div class="panel-body">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              <label for="{{ field.name }}" class="col-sm-3 control-label">{{ field.label }}:</label>
              <div class="col-sm-9">
                {{ field }}
              </div>
          </div><br/>
           {% endfor %}
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-lg-12 text-right">
        <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
        <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
          Cancelar
        </button>
      </div>
    </div>
  </form>
  <script language="JavaScript">

        $("#diagnosticoForm").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#diagnosticoForm").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           location.reload();
                       }else {
                           $('#diagnosticoForm').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });
  </script>
</div>
