{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap3-wysihtml5.min.css' %}">
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">

<!--<div class="modal fade" id="modalPacientePrescripcion" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <form role="form" id="id_form"
                  {% if not object.id %}
                  action="{% url 'consultorios:consulta_prescripcion_crear' detalle.id  %}" method="post">
                {% else %}
                action="{% url 'consultorios:consulta_prescripcion_editar' object.pk %}" method="post">
                {% endif %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Prescripción</h4>
          </div>
              <div class="modal-body" style="overflow:hidden;">
                  <div class="form-horizontal" >
                      {% csrf_token %}
                      <div class="form-group">
                          {{ form.medicamento.errors }}
                          <label for="{{ form.medicamento.name }}" class="col-sm-2 control-label">{{ form.medicamento.label }}:</label>
                          <div class="col-sm-8">
                              {{ form.medicamento }}

                              <a href="javascript:void(0)" class="btn" id="crearMedicamento" title="Agregar nuevo medicamento"><span class="fa fa-plus"></span> Agregar nuevo medicamento</a>

                          </div>
                      </div>
                      <div class="form-group">
                          {{ form.cantidad.errors }}
                          <label for="{{ form.cantidad.name }}" class="col-sm-2 control-label">{{ form.cantidad.label }}:</label>
                          <div class="col-sm-8">
                              {{ form.cantidad }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="{{ form.posologia.name }}" class="col-sm-2 control-label">{{ form.posologia.label }}:</label>
                          {{ form.posologia.errors }}
                          <div class="col-sm-12">
                              {{ form.posologia }}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
                  <button type="button" class="btn btn-default" onclick="return cerrar_modal()"><i class="fa fa-times"></i> Cancelar</button>
              </div>
          </form>
        </div>
    </div>
<!--</div>-->

<script src = "{% static 'js/jquery.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>
<script src = "{% static 'js/bootstrap3-wysihtml5.all.min.js' %}"></script>
<script src = "{% static 'js/select2.min.js' %}"></script>
<script>

  $(function () {
    $("#id_posologia").wysihtml5();
    $('#id_medicamento').select2({ placeholder:"Seleccione una opción", allowClear: true});
  });

  /*$("#crearMedicamento").click(function(e) {
    console.log("llega a abrir el modal");
    //$("#popup").modal("hide");
    $("#modalMedicamento").modal("show");
  });*/

  //set button id on click to hide first modal
  /*$("#crearMedicamento").on( "click", function() {
    console.log("clic crearMedicamento HIDE");
    $('#popup').modal('hide');
  });*/

    //trigger next modal
    $("#crearMedicamento").on( "click", function() {
        console.log("clic crearMedicamento SHOW");
        $('#modalMedicamento').modal('show');
    });

        $("#id_form").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#id_form").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           var detalle_id = {{ detalle.id }};
                           reloadPaginaConsultaPaciente(detalle_id, "a_pres");
                       }else {
                           $('#id_form').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });

</script>

<div class="modal fade" id="modalMedicamento" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" id="modalDialogMedicamento">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h4 class="modal-title" id="myModalLabel" >Nuevo Medicamento</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" id="form_direccion" >
                <div class="form-group">
                    <label for="{{ form2.nombre.name }}" class="col-sm-3 control-label">{{ form2.nombre.label }}:</label>
                    <div class="col-sm-9">
                        {{ form2.nombre }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form2.forma_farmaceutica.name }}" class="col-sm-3 control-label">{{ form2.forma_farmaceutica.label }}:</label>
                    <div class="col-sm-9">
                        {{ form2.forma_farmaceutica }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form2.tipificacion.name }}" class="col-sm-3 control-label">{{ form2.tipificacion.label }}:</label>
                    <div class="col-sm-9">
                        {{ form2.tipificacion }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <a class="btn btn-primary" id="guardarMedicamento"> Guardar</a>
                <a class="btn btn-default" id="btn_cancelar" > Cancelar</a>
            </div>
        </div>
    </div>
    <script>

    /*$("#cancelar").on( "click", function() {
        console.log("clic cancelar HIDE MODAL MEDICAMENTO");
        $('#modalMedicamento').modal('hide');
        $('#modalPacientePrescripcion').modal('hide');
    });*/

    $('#btn_cancelar').click(function() {
        console.log("clic cancelar HIDE MODAL MEDICAMENTO");
        $('#modalMedicamento').modal('hide');
    });

    $(function () {

        $('select').select2({ placeholder:"Seleccione una opción", allowClear: true});
        $('#id_forma_farmaceutica').removeAttr('tabindex').attr('tabindex', 1);
        $('#id_tipificacion').removeAttr('tabindex').attr('tabindex', 2);


    });

            $("#guardarMedicamento").click(function() {
              var csrftoken = getCookie('csrftoken');
              var $this = this;
              $.ajax({
                type:"POST",
                url:"{% url 'consultorios:medicamento_nuevo' %}",
                data: {
                  'nombre': $("#id_nombre").val(),
                  'forma_farmaceutica': $("#id_forma_farmaceutica").val(),
                  'tipificacion': $("#id_tipificacion").val(),
                  'csrfmiddlewaretoken': csrftoken
                },
                success: function(data){
                  console.log("llega al success");
                  console.log("data", data );
                  $('#modalMedicamento').modal('hide');
                  $('#id_medicamento').append('<option value="'+data.medicamento_id+'" selected="selected">'+data.medicamento_nombre.toUpperCase()+'</option>');

                 }
              })
            });
    </script>
</div>
</div>
<!--</div>-->