<div class="modal-content" style="width: 700px;height: auto;
  position: absolute;left:37%;top: 32%; margin-left: -150px;
   margin-top: -150px;">
  <form role="form" id="eventoForm"
          action="{% url 'consultorios:consulta_prescripcion_crear' detalle.id %}" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h3>Prescripción</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      <div class="panel-body">
        {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.medicamento.name }}" class="col-sm-3 control-label">{{ form.medicamento.label }}:</label>
            <div class="col-sm-9">
              {{ form.medicamento }}
              <a href="javascript:void(0)" class="btn" id="crearMedicamento" title="Agregar nuevo medicamento"><span class="fa fa-plus"></span> Agregar nuevo medicamento</a>
            </div>
            <label for="{{ form.posologia.name }}" class="col-sm-3 control-label">{{ form.posologia.label }}:</label>
            <div class="col-sm-9">
              {{ form.posologia }}
            </div>
            <label for="{{ form.cantidad.name }}" class="col-sm-3 control-label">{{ form.cantidad.label }}:</label>
            <div class="col-sm-9">
              {{ form.cantidad }}
            </div>
          </div><br/>

      </div>
    </div>
    <div class="modal-footer">
      <div class="col-lg-12 text-right">
        <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
        <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
          Cancelar
        </button>
      </div>
    </div>
  </form>
  <script language="JavaScript">

        $(function(){
          $("#modalMedicamento").hide();
        });

        $("#eventoForm").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#eventoForm").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           location.reload();
                           //$("#dataTables-example").append('<tr><td>333</td><td>POSOLOGIA DDDD </td><td>3 </td><td><a class="btn btn-default btn-xs" title="Editar" onclick="return abrir_modal('/consultorios/consulta/detalle/prescripcion/4/editar/')"><i class="fa fa-pencil"></i></a><a class="btn btn-default btn-xs" title="Eliminar" onclick="return abrir_modal('/consultorios/consulta/detalle/prescripcion/4/eliminar')"><i class="fa fa-trash"></i></a></td></tr>')
                       }else {
                           $('#eventoForm').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });

	      $("#crearMedicamento").click(function(e) {
	        console.log("llega a abrir el modal");
	        $("#modalMedicamento").modal("show");
	      });

  </script>
</div>

<!--<div class="modal fade" >-->
  <div class="modal" id="modalMedicamento" >
    <div class="modal-content" style="width: 700px;height: auto;
      position: absolute;left:37%;top: 32%; margin-left: -150px;
       margin-top: -150px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h3>Nuevo Medicamento</h3>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" id="form_direccion" >
          <div class="form-group">
            <label for="{{ form2.nombre.name }}" class="col-sm-3 control-label">{{ form2.nombre.label }}:</label>
            <div class="col-sm-9">
              {{ form2.nombre }}
            </div>
          </div>
          <div class="form-group">
            <label for="{{ form2.forma_farmaceutica.name }}" class="col-sm-3 control-label">{{ form2.forma_farmaceutica.label }}:</label>
            <div class="col-sm-9">
              {{ form2.forma_farmaceutica }}
            </div>
          </div>
          <div class="form-group">
            <label for="{{ form2.tipificacion.name }}" class="col-sm-3 control-label">{{ form2.tipificacion.label }}:</label>
            <div class="col-sm-9">
              {{ form2.tipificacion }}
            </div>
          </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="col-lg-12 text-right">
            <a class="btn btn-primary" id="guardarMedicamento"> Guardar</a>
            <a class="btn btn-default" id="cancelar"> Cancelar</a>
          </div>
        </div>
      </div>
      <!--</form>-->
      <script>

            $("#guardarMedicamento").click(function() {
              var csrftoken = getCookie('csrftoken');
              var $this = this;
              $.ajax({
                type:"POST",
                url:"{% url 'consultorios:medicamento_nuevo' %}",
                data: {
                  'nombre': $("#id_nombre").val(),
                  'forma_farmaceutica': $("#id_forma_farmaceutica").val(),
                  'tipificacion': $("#id_tipificacion").val(),
                  'csrfmiddlewaretoken': csrftoken
                },
                success: function(data){
                  console.log("llega al success");
                  console.log("data", data );
                  $('#modalMedicamento').modal('hide');
                  $('#id_medicamento').append('<option value="'+data.medicamento_id+'" selected="selected">'+data.medicamento_nombre.toUpperCase()+'</option>');

                 }
              })
            });
      </script>
    </div>
    </div>
<!--</div>-->