{% extends "base/base2.html" %}
{% load static %}
{% block extrahead %}
  <style type="text/css" xmlns="http://www.w3.org/1999/html">
    .btn {
      text-align: left;
    }

    .dropdown-menu > li > a {
      padding: 5px;
    }
  .big-checkbox {width: 30px; height: 30px;}
  </style>
{% endblock %}
{% block content %}
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{% if form.instance.id %}Editar: {{ form.instance.username }}{% else %}Usuario{% endif %}</h1>
  </div>
  <ol class="breadcrumb" style="background-color: #f6f8f8; margin-bottom: 0px">
    <li><a href="#">Inicio</a></li>
    <li><a href="{% url 'principal:user_list_global' %}">Listado de Usuarios</a></li>
    <li class="active">{% if form.instance.id %}Editar: {{ form.instance.username }}{% else %}Nuevo
      Usuario{% endif %}</li>
  </ol>
  <div class="row"><br>
  <div class="col-md-12">
    {% if form.instance.id %}
      <div class="col-md-offset-1 col-md-10">
        <div class="pull-right">
          {% if request.user.is_superuser %}
            <a href="{% url 'principal:user_update_pass_global' usuario.id %}">
              <button class="btn btn-info btn-addon">
                <i class="fa fa-unlock"></i>
                Cambiar Contraseña
              </button>
            </a>
          {% endif %}
          <a>
            <button onclick="return abrir_modal('{% url 'principal:user_delete_global' usuario.id %}')"
                    class="btn btn-danger btn-addon dropdown">
              <i class="fa fa-minus"></i>
              Eliminar Usuario
            </button>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
    </div><br/>
  <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Usuario</h3>
            </div>
            <form role="form" method="post">
              <div class="box-body">
                {% csrf_token %}
                {% for field in form %}
                  <br>
                  <div class="form-group" id="{{ field.name }}">
                    <div class="col-md-10 ">
                      {{ field.errors }}
                      <label for="{{ field.name }}" class="col-sm-3 control-label">{{ field.label }}:</label>
                      <div class="col-sm-7">
                        {{ field }}
                      </div>
                    </div>
                    <br>
                  </div>
                {% endfor %}
              </div>
              <!-- /.box-body -->

              <div class="box-footer" align="center">
                <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
            <a href="{% url 'principal:user_list_global' %}" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</a>
              </div>
            </form>
          </div>
          <!-- /.box -->
  </div>
  <div id="popup" class="modal fade"  aria-hidden="true" role="dialog" tabindex="-1" style="height: auto;margin: auto; posicion:fixed;"></div>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
  console.log('tipo=',$('#id_tipos').val());
  $('#medicos').show();
  $('#enfermeros').hide();
  $('#administrativo').hide();

  valor = $("#id_tipos").val();
  if(valor == 1) {
      $('#medicos').show();
      $('#enfermeros').hide();
      $('#administrativo').hide();
  }else if(valor == 2){
      $('#medicos').hide();
      $('#enfermeros').show();
      $('#administrativo').hide();
  }else if (valor ==3){
      $('#administrativo').show();
      $('#medicos').hide();
      $('#enfermeros').hide();
  }


  $("#id_tipos").change(function(){
      valor = $("#id_tipos").val();
      if(valor == 1) {
          $('#medicos').show();
          $('#enfermeros').hide();
          $('#administrativo').hide();
      }else if(valor == 2){
          $('#medicos').hide();
          $('#enfermeros').show();
          $('#administrativo').hide();
      }else if (valor ==3){
          $('#administrativo').show();
          $('#medicos').hide();
          $('#enfermeros').hide();
      }
  });
  </script>
{% endblock %}
