{%extends 'base/base2.html' %}
{% load static%}

{%block content %}
<br>
<div class="panel panel-default">
        <div class="panel-heading">
            Agenda
            <div class="btn-group pull-right">
                <a href="{% url 'agendamientos:agenda_nuevo' %}" class="btn btn-default" id="create"><i class="fa fa-plus-square" aria-hidden="true"></i> Nuevo</a>
            </div>
            <p></p>
        </div>
        <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length"></div></div><div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter"></div></div></div><div class="row"><div class="col-sm-12"><table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th aria-label>Fecha</th>
                        <th aria-label>Médico</th>
                        <th aria-label>Especialidad</th>
                        <th aria-label>Turno</th>
                    </tr>
                </thead>
                <tbody>
                {% if object_list %}
                {% for data in object_list %}
                    <tr>
                        <td>
                            <a href="/agendamientos/agenda/{{data.0}}/1">{{ data.1 }}</a>
                        </td>
                        <td>{{ data.7 }}</td>
                        <td>{{ data.9 }}</td>
                        <td>{{ data.5}}</td>
                    </tr>
                {% endfor %}

                {% else %}
                <h1>No hay registros.</h1>
                {% endif %}
                </tbody>
            </table>
            </div>
            </div>
        </div>

        </div>
            <!-- /.panel-body -->
        </div>

<div class="pagination">
    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
            {% endif%}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
            {% endif%}
        </li>
    </ul>
</div>
</div>
{% endblock%}

