 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Planilla de Agendamiento</title>
    <style type="text/css">
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
      }

      td, th {
          border: 1px solid black;
          text-align: left;
          border: 1px solid black;

      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }

      #datos {
        border: none;
        border-style: none;
        padding: 0px;
      }
      #first{
        border: none;
        border-style: none;
        padding: 2px;
      }
      #second{
        border: none;
        border-style: none;
        padding: 2px;
      }
    </style>
  </head>
  <body>
    <div class="app-content-body">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            {% include 'base/membrete.html' %}

            <h1 align="center"><b>PLANILLA DE AGENDAMIENTO</b></h1>
          </div>
          <h2><b><u>DATOS DE LA AGENDA</u></b></h2>
            <table id="datos">
                <tr id="primero">
                    <td id="first" class="first">
                        <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Fecha: </strong>{{ agenda.fecha }}</div>
                        <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Médico: </strong> {{ agenda.medico.get_dr_full_name }}</div>
                        <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Cantidad: </strong>{{ agenda.cantidad }}</div>
                    </td>
                    <td id="second" class="second">
                        <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Turno: </strong>{{ agenda.turno }}</div>
                        <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;">Especialidad</strong>: </strong>{{ agenda.especialidad }}</div>
                        <div style="font-size: 12px;"><strong style="font-weight:bold; font-family: arial;"> </strong></div>
                    </td>
                </tr>
            </table>
                <br>
                <div class="col-sm-4">
                  <h2><b><u>LISTA DE LOS PACIENTES AGENDADOS:</u></b></h2>
                </div>
                <div class="col-sm-4 col-lg-11">
                    {% if detalles %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding: 2px; width:5%"><b>Nro.</b></th>
                                <th style="padding: 2px; width:15%"><b>Ficha</b></th>
                                <th style="padding: 2px; width:20%"><b>Nombre y apellido</b></th>
                                <th style="padding: 2px; width:10%"><b>Edad</b></th>
                                <th style="padding: 2px; width:20%"><b>Ciudad</b></th>
                                <th style="padding: 2px; width:20%"><b>Teléfono</b></th>
                                <th style="padding: 2px; width:20%"><b>Confirmado</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in detalles %}
                            <tr>
                                <td style="padding: 2px; width:5%">{{ data.0 }}</td>
                                <td style="padding: 2px; width:15%">{{ data.1 }}</td>
                                <td style="padding: 2px; width:20%">{{ data.2 }}  {{ data.3 }}</td>
                                <td style="padding: 2px; width:10%">{{ data.4 }}</td>
                                <td style="padding: 2px; width:20%">{{ data.5 }}</td>
                                <td style="padding: 2px; width:20%">{{ data.6 }}: {{ data.7 }}</td>
                                <td style="padding: 2px; width:20%">{% if data.8 %}{{'Si'}}{% else %} {{'No'}}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ "SIN ESPECIFICAR" }}
                    {% endif %}
                </div>
            </div>
            <br>



        </div>
    </div>
    </div>
  </body>

</html>


