{%extends 'base/base2.html' %}
{% load static %}


{% block extrajs %}
<script src="{% static 'apps/agendamientos/js/agenda.js' %}" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{%block content %}
<div class="app-content-body">
  <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Agendas por rango de fecha</h1>
    </div>

  <ol class="breadcrumb" style="background-color: #f6f8f8">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Agendamientos</a></li>
      <li class="active">Agendas por rango de fecha</li>
    </ol>
  <div class="wrapper-md">
  <div class="row">
    <!--<div class="col-lg-12">-->


  <!--<div class="col-md-8">-->
    <!--<div class="box box-default">-->
      <!--<div class="box-header with-border">-->
        <!--<h3 class="box-title">Filtros</h3>-->
        <!--<div class="box-tools pull-right">-->
          <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
          <!--</button>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-tools &ndash;&gt;-->
      <!--</div>-->
      <!-- /.box-header -->
      <div class="box-body">
          <form>
              <div class="col-sm-8 col-lg-8">
                  <label class="control-label col-lg-4 col-sm-4" style="text-align: right;">Rango de Fechas:</label>
                  <div class="col-lg-4 col-sm-4">
                      <input type="text" class="form-control text-center" id="fecha_desde" name ="fecha_desde" value='{{fecha_desde|date:"SHORT_DATE_FORMAT"}}' required="required"  data-inputmask="'alias': 'date'" placeholder="dd/mm/yyyy">
                  </div>
                  <div class="col-lg-4 col-sm-4">
                      <input type="text" class="form-control text-center" id="fecha_hasta" name ="fecha_hasta" value='{{fecha_hasta|date:"SHORT_DATE_FORMAT"}}' required="required"  data-inputmask="'alias': 'date'" placeholder="dd/mm/yyyy">
                  </div>
              </div>
              <br><br>
              <div class="col-sm-8 col-lg-8">
                  <label class="control-label col-lg-4 col-sm-4" style="text-align: right;">Especialidad:</label>
                  <div class="col-sm-4 col-lg-8">
                      <select name="especialidad" id="id_especialidad" class="form-control selectsearch" style="width:100%" >
                          <option value="">Todas</option>
                          {% for especialidad in especialidades %}
                          <option value="{{ especialidad.id }}"
                                  {% if especialidad_select and especialidad.id == especialidad_select.id %}selected
                                  {% endif %}>{{ especialidad.nombre }}
                          </option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
              <br><br>
              <div class="col-sm-8 col-lg-8">
                  <label class="control-label col-lg-4 col-sm-4" style="text-align: right;">Médico:</label>
                  <div class="col-sm-4 col-lg-8">
                      <select name="medico" id="id_medico" class="form-control selectsearch" style="width:100%" >
                          <option value="">Todas</option>
                          {% for medico in medicos %}
                          <option value="{{ medico.id }}"
                                  {% if medico_select and medico.id == medico_select.id %}selected
                                  {% endif %}>{{ medico.nombres }} {{ medico.apellidos }}
                          </option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
              <br><br>
              <div class="col-sm-8 col-lg-8">
                  <label class="control-label col-lg-4 col-sm-4" style="text-align: right;">Estado:</label>
                  <div class="col-sm-4 col-lg-8">
                      <select name="estado" id="id_estado" class="form-control selectsearch" style="width:100%" >
                          <option value="">Todos</option>
                          {% for estado in estados %}
                          <option value="{{ estado.codigo }}"
                                  {% if estado_select and estado.codigo == estado_select.codigo %}selected
                                  {% endif %}>{{ estado.nombre }}
                          </option>
                          {% endfor %}
                      </select>
                  </div>
              </div>

              <div class="col-sm-8 col-lg-8" style="text-align: center;"><br>
				<!--<button id="limpiar_filtros" class="btn btn-default"><i class="icon-eraser fa fa-eraser"></i> Limpiar</button>-->
                <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
              </div>
            </form>
      </div>
      <!-- /.box-body -->
    <!--</div>-->
    <!--&lt;!&ndash; /.box &ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->
<div class="col-xs-12 col-md-12 col-lg-12">
<div class="panel panel-default">


        <div class="panel-heading">
            Lista de Agendas
            <div class="btn-group pull-right">
                <a href="{% url 'agendamientos:agenda_nuevo' origen %}" class="btn btn-default" id="create"><i class="fa fa-plus-square" aria-hidden="true"></i> Nuevo</a>
            </div>
            <p></p>
        </div>
        <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length"></div></div><div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter"></div></div></div><div class="row"><div class="col-sm-12">
                <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                    <thead>
                    <tr role="row">
                        <th aria-label>ID</th>
                        <th aria-label>Fecha</th>
                        <th aria-label>M&eacute;dico</th>
                        <th aria-label>Especialidad</th>
                        <th aria-label>Turno</th>
                        <th aria-label>Estado</th>
                        <th aria-label>Cantidad</th>
                        <th aria-label>Ver Detalles</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if list_agenda %}
                    {% for agenda in list_agenda %}
                    <tr>
                        <td>
                            <a href="{% url 'agendamientos:agenda_detalle' agenda.id 2 %} ">{{agenda.id}}</a>
                        </td>
                        <td>{{agenda.fecha}}</td>
                        <td>{{agenda.medico.nombres}} {{agenda.medico.apellidos}}</td>
                        <td>{{agenda.especialidad}}</td>
                        <td>{{agenda.turno.nombre}}</td>
                        <td>{{agenda.estado.nombre}}</td>
                        <td>{{agenda.get_cantidad_agendados}}</td>
                        <td>
                            <a href="{% url 'agendamientos:agenda_detalle' agenda.id 2 %} " text-align="center"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}

                {% endif %}
                </tbody>
            </table>
            </div>
            </div>
            </div>
        </div>
    <!-- /.panel-body -->
</div>
</div>
<!--<div class="pagination">-->
    <!--<ul class="pager">-->
        <!--<li>-->
            <!--{% if page_obj.has_previous %}-->
            <!--<a href="?page={{ page_obj.previous_page_number}}">Anterior</a>-->
            <!--{% endif%}-->
        <!--</li>-->
        <!--<li>-->
            <!--{% if page_obj.has_next %}-->
            <!--<a href="?page={{ page_obj.next_page_number}}">Siguiente</a>-->
            <!--{% endif%}-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
</div>
  </div>
</div>
{% endblock%}



