{%extends 'base/base2.html' %}
{% load static %}

{% block extrajs %}
<script src = "{% static 'apps/agendamientos/js/agenda.js' %}"></script>
{% endblock %}

{%block content %}


<form method="POST" class="form-horizontal" id="form">
<div class="row">
    <h2>Agenda</h2>
    {% include 'base/messages.html' %}
    <div class="col-lg-8 col-sm-12">
        {% csrf_token %}
        {{form.media}}

        <div class="form-group">
			<label class="control-label col-lg-2 col-sm-4">Fecha</label>
			<div class="col-lg-3 col-sm-4">
				<input type="text" class="form-control text-center" id="fecha" name ="fecha" value="{{agenda.fecha}}" required="required"  disabled="disabled" data-inputmask="'alias': 'date'" placeholder="dd/mm/yyyy">
			</div>
		</div>

        <div class="form-group">
			<label class="control-label col-lg-2 col-sm-4">Médico</label>
			<div class="col-sm-6">
				<input type="text" class="form-control text-left" id="medico" name ="medico" value="{{agenda.medico}}"  disabled="disabled">
			</div>
		</div>

        <div class="form-group">
			<label class="control-label col-lg-2 col-sm-4">Turno</label>
			<div class="col-lg-3 col-sm-4">
				<input type="text" class="form-control text-left" id="turno" name ="turno" value="{{agenda.turno}}"  disabled="disabled">
			</div>
		</div>
        <div class="form-group" align="center">
            <!--<a href="{% url 'agendamientos:agenda_cancelar' agenda.id %}" id="cancelar" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar Agenda</a>-->
            <!--<a href="#" id="cancelar" class="btn btn-danger" onclick="confirmar();"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar Agenda</a>-->
            <a id="cancelar" type="button" class="btn btn-danger" > <i class="fa fa-ban" aria-hidden="true"></i> Cancelar Agenda</a>
            <a href="{% url 'agendamientos:agenda_especialidad_medico' %}" id="salir" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Salir</a>
        </div>

</div>
</div>

</div>
    </div>

</div>
</form>




<br>
<div class="panel panel-default">
    <div class="panel-heading">
		<b>Lista</b>
		<div class="btn-group pull-right">
			               <a href="javascript:void(0)" id="create"
                class="btn btn-default btn-sm"><i class="fa fa-plus-square" aria-hidden="true"></i>  Nuevo</a>
            <!--<a href="/agendamientos/agenda/{{agenda.id}}/nuevo" id="create" class="btn btn-default"><i class="fa fa-plus-square" aria-hidden="true"></i></i> Nuevo</a>-->
        </div>
		<div class="clearfix"></div>
	</div>

    <div class="table-responsive">
        <table class="table table-hover table-condensed table-bordered" >
            <thead>
                <tr>
                    <td>Nº</td>
                    <td>Ficha</td>
                    <td>Nombre y Apellido</td>
                    <td>Edad</td>
                    <td>Ciudad</td>
                    <td>Tel&eacute;fono</td>
                    <td>Observación</td>
                </tr>
            </thead>
            <tbody>
        {% if agenda_detalle %}
        {% for detalle in agenda_detalle %}
            <tr>
                <td>
                    <a href="/agendamientos/agenda/{{detalle.agenda.id}}/{{detalle.id}}/editar">{{ detalle.0}}</a>
                </td>
                <td>{{detalle.1}}</td>
                <td>{{detalle.2}} {{detalle.3}}</td>
                <td>{{detalle.4}}</td>
                <td>{{detalle.5}}</td>
                <td>{{detalle.6}} {{detalle.7}}</td>
                <td>{{detalle.8}}</td>


            </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de agendamientos</h1>

        {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div id="modalAgendaDetalle" class="modal" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<form role="form" action="{% url 'agendamientos:agenda_detalle_crear'  agenda.id %}" method="post">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Agenda Detalle</h4>
      </div>
      <div class="modal-body">
			{% csrf_token %}

		<div class="form-horizontal" id="form_agenda_detalle" >
                {% for field in form %}
      <div class="form-group">
				<label class="control-label col-sm-3">{{ field.label }}</label>
				<div class="col-sm-8">
					{{ form.paciente }}
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{form.confirmado.label}}</label>
				<div class="col-sm-8">
					{{ form.confirmado }}
				</div>
			</div>
            	{% endfor %}
		</div>
		  </div>
      <div class="modal-footer">
      		<button type="submit" id="grabarDireccion" class="btn btn-primary"><i class="icon-save fa fa-fw fa-save"></i> Grabar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-remove fa fa-fw fa-times"></i> Cancelar</button>
      </div>
		</form>
    </div>

  </div>
</div>
{% endblock%}
