{% extends "base/base2.html" %}

{% block content %}



<div class="row">
	<div class="col-lg-12">
        <h1 class="page-header">Agendamientos Detalles</h1>
    </div>
</div>
<div class="row">
<form class="form-horizontal col-sm-10" method="post">
    {% csrf_token %}
    {% for field in form %}
	<div class="form-group">
		{{ field.errors }}
		<label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}:</label>
		<div class="col-sm-10">
			{{ field }}
		</div>
	</div>
	{% endfor %}
	{{form.media}}
	<div class="form-group" align="left">
		<div class="col-lg-10 col-lg-offset-2">
			 <button class="btn btn-primary">Guardar</button>
            <a href="/agendamientos/agenda/{{agenda}}" id="cancelar" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Cancelar</a>
		</div>
	</div>

</form>
</div>
{% endblock %}
