<div class="modal-content" style="width: 700px;height: auto;
  position: absolute;left:37%;top: 32%; margin-left: -150px;
   margin-top: -150px;">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <div id="modal-title">
       <h3>Órden de Estudio</h3>
     </div>
   </div>
   <div class="modal-body">
     <form  role="form" id="eventoForm"
       action="{% url 'consultorios:orden_estudio_editar' object.pk %}" method="post">
       {% csrf_token %}
       {% for field in form %}
         <div class="row" id="{{ field.name }}">
         <div class="form-group">
           <div class="col-md-10 ">
             {{ field.errors }}
             <label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}:</label>
             <div class="col-sm-8">
               {{ field }}
             </div>
           </div>
         </div>
         </div>
       {% endfor %}
        <div class="modal-footer">
        <div class="col-lg-12 text-right">
          <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
          <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
            Cancelar
          </button>
        </div>
      </div>

     </form>
   </div>
   <script language="JavaScript">

        $("#eventoForm").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#eventoForm").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           location.reload();
                       }else {
                           $('#eventoForm').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });
    </script>
</div>
