<div class="modal-dialog">
<div class="modal-content" >
    <form  role="form" id="eventoForm"
       action="{% url 'consultorios:orden_estudio_editar' object.pk %}" method="post">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <div id="modal-title">
       <h4>Orden de Estudio</h4>
     </div>
    </div>
    <div class="modal-body">
       <div class="form-horizontal" >
       {% csrf_token %}
       {% for field in form %}
         <div class="form-group">
             {{ field.errors }}
             <label for="{{ field.name }}" class="control-label col-sm-3">{{ field.label }}:</label>
             <div class="col-sm-8">
               {{ field }}
             </div>
         </div>
       {% endfor %}
           </div>
        <div class="modal-footer">
          <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
          <button type="button" class="btn btn-default" onclick="return cerrar_modal()"><i class="fa fa-times"></i> Cancelar</button>
        </div>
    </div>
     </form>
   </div>
</div>

</script>
   <script language="JavaScript">

        $("#eventoForm").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#eventoForm").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           location.reload();
                       }else {
                           $('#eventoForm').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });
    </script>
</div>
