 <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
          <!--<form role="form" id="eventoForm" action="{% url 'pacientes:paciente_seguro_medico_crear' paciente.id %}" method="post">-->
              <!--<div class="modal-header">-->
                  <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                  <!--<h4 class="modal-title">Seguro Médico</h4>-->
              <!--</div>-->
              <!--<div class="modal-body">-->
                  <!--<div class="form-horizontal" >-->
                      <!--{% csrf_token %}-->
                      <!--{% for field in form %}-->
                      <!--<div class="form-group" id="{{ field.name }}">-->
                          <!--{{ field.errors }}-->
                          <!--<label class="control-label col-sm-3" >{{field.label}}</label>-->
                          <!--<div class="col-sm-8">-->
                              <!--{{ field }}-->
                          <!--</div>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--{% endfor %}-->
              <!--</div>-->
              <!--<div class="modal-footer">-->
                  <!--<button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>-->
                  <!--<button type="button" class="btn btn-default" onclick="return cerrar_modal()"><i class="fa fa-times"></i> Cancelar</button>-->
              <!--</div>-->
		<!--</form>-->
    <!--</div>-->

  <!--</div>-->

 <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" id="eventoForm"
          action="{% url 'pacientes:paciente_seguro_medico_crear' paciente.id %}" method="post">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Seguro Médico</h4>
      </div>
      <div class="modal-body">
		<div class="form-horizontal" >
          {% csrf_token %}
          <div class="form-group">
                          {{ form.seguro_medico.errors }}
                  <label class="control-label col-sm-3">{{form.seguro_medico.label}}</label>
                  <div class="col-sm-8">
                      {{ form.seguro_medico }}
                  </div>
              </div>
          <div class="form-group">
                          {{ form.detalle.errors }}
                  <label class="control-label col-sm-3">{{form.detalle.label}}</label>
                  <div class="col-sm-8">
                      {{ form.detalle }}
                  </div>
              </div>
		</div>

		  </div>
      <div class="modal-footer">
        <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
        <button type="button" class="btn btn-default" onclick="return cerrar_modal()"><i class="fa fa-times"></i> Cancelar</button>
      </div>
		</form>
    </div>

  </div>


  <script language="JavaScript">
        detalle = document.getElementById('detalle')

        detalle.style.display = 'none';
        $("#id_seguro_medico").change(function(){
            valor = $("#id_seguro_medico").val()
            console.log('valor=', valor);
            if(valor == 0) {
                detalle.style.display = 'block';
                document.getElementById('id_detalle').focus();
            }else{
                detalle.style.display = 'none';
            }

	      });
        $("#eventoForm").submit(function(e) {

            var url = this.action; // the script where you handle the form input.
            console.log(url)
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#eventoForm").serialize(), // serializes the form's elements.
                   success: function(data, status) {
                       if (data.success){
                           $('#popup').modal('hide');
                           location.reload();
                       }else {
                           $('#eventoForm').html(data);
                       }

                   },
                error: function(ajaxContext) {

                   alert(ajaxContext.responseText);

                },
                done: function (response) {
                    $('#modalSeguro').modal('hide');
                    $('#popup').modal('hide');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.

	      });
    </script>