{% extends 'base/base2.html' %}
{% load static %}
{% block extrajs %}
    <script src = "{% static 'apps/pacientes/js/direcciones.js' %}"></script>

<!--<script>-->
   <!--$( document ).ready(function() {-->
       <!--$('#create').click(function(){-->
          <!--$('#modalDireccion').modal('show');-->
       <!--})-->
   <!--})-->

<!--</script>-->
  <script>
    $(document).ready(function () {
            $('.btnModal').click(function () {
             var codigo_direccion = $(this).data('id');
                console.log(codigo_direccion)
                $("#direccion_id").val(codigo_direccion)
            });
    });

  </script>
{% endblock %}


{% block content %}
 <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Ficha Clinica</h1>
 </div>
  <ol class="breadcrumb" style="background-color: #f6f8f8; margin-bottom: 0px">
    <li><a href="{% url 'pacientes:index' %}">Inicio</a></li>
    <li class="active">Datos de Direcciones del Paciente:<b>{{ paciente.get_name_nro_doc }}</b></li>
  </ol><br>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">FICHA CLINICA</div>
    <div class="panel-body">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <ul class="nav nav-pills">
                        <li>{% block nav-home %}<a href="{% url 'pacientes:paciente_editar' id_paciente %}" class="active">Datos Básicos</a>{% endblock %}</li>
                        <li>{% block nav-about %}<a href="{% url 'pacientes:paciente_direccion' id_paciente %}">Direcciones</a>{% endblock %}</li>
                        <li><a href="{% url 'pacientes:padre_crear' id_paciente %}">Datos del Padre</a></li>
                        <li><a href="{% url 'pacientes:madre_crear' id_paciente %}">Datos del Padre</a></li>
                        <li><a href="{% url 'pacientes:paciente_seguro_medico' id_paciente %}">Otros Datos</a></li>
            </ul>

        </nav>
        <div class="panel panel-default">
            <div class="panel-heading">
                Direcciones
                <!--<div class="btn-group pull-right">-->
                    <!--<a onclick="return abrir_modal-->
                            <!--('{% url 'pacientes:crear_direccion' id_paciente %}',-->
                            <!--'Dirección / Nuevo')" class="btn btn-primary">-->

                        <!--<i class="fa fa-plus-square" aria-hidden="true"></i> Nuevo</a>-->
                <!--</div><p></p>-->
                <div class="btn-group pull-right">
                <a href="javascript:void(0)" id="create"
                class="btn btn-default btn-sm"><i class="fa fa-plus-square" aria-hidden="true"></i>  Nuevo</a>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">

                        <thead>
                              <tr>
                                <th width="80">Direccion</th>
                                <th width="80">Distrito</th>
                                <th width="30">Área</th>
                                <th width="20">Referencia</th>
                                <th> Acción</th>
                              </tr>
                        </thead>
                        <tbody>
                            {% if direcciones %}
                            {% for direccion in direcciones %}
                            <tr id="tr{{ direccion.pk }}">

                                <td>{{ direccion.descripcion }}</td>
                                <td>{{ direccion.distrito }} </td>
                                <td>{{ direccion.area }} </td>
                                <td>{{ direccion.referencia }}</td>
                                <td>
                                  <a href="#myModal" role="button" class="btn btn-danger delete btnModal" data-toggle="modal"
                                      id="btnModalPopup"  data-name="{{ direccion.descripcion }}"
                                      data-id="{{ direccion.pk }}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <h4 align="center">No hay registros</h4>
                            {% endif %}
                        </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</div>
<div id="modalDireccion" class="modal" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
					<form role="form" action="{% url 'pacientes:crear_direccion' id_paciente %}" method="post">

      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Direcciones</h4>
      </div>
      <div class="modal-body">
			{% csrf_token %}
		<div class="form-horizontal" id="form_direccion" >
      <div class="form-group">
				<label class="control-label col-sm-3">{{form.descripcion.label}}</label>
				<div class="col-sm-8">
					{{ form.descripcion }}
				</div>
			</div>

            <div class="form-group">
				<label class="control-label col-sm-3">{{form.descripcion.label}}</label>
				<div class="col-sm-8">
                    {{form.descripcion}}
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{form.departamento.label}}</label>
				<div class="col-sm-8">
					{{ form.departamento }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">{{form.distrito.label}}</label>
				<div class="col-sm-8">
					<!--<select class="form-control" id="id_distrito"></select>-->
					{{ form.distrito }}
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{form.barrio.label}}</label>
				<div class="col-sm-8">
					{{ form.barrio }}
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{form.area.label}}</label>
				<div class="col-sm-3">
					{{ form.area }}
				</div>

				<label class="control-label col-sm-2">{{form.sector.label}}</label>
				<div class="col-sm-3">
					{{ form.sector }}
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">{{form.manzana.label}}</label>
				<div class="col-sm-3">
					{{ form.manzana }}
				</div>

				<label class="control-label col-sm-2">{{form.nro_casa.label}}</label>
				<div class="col-sm-3">
					{{ form.nro_casa }}
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">Residencia Ocasional</label>
				<div class="col-sm-8">
					{{ form.residencia_ocasional }}
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">Referencia</label>
				<div class="col-sm-8">
					{{ form.referencia }}
				</div>
			</div>

		</div>
		  </div>
      <div class="modal-footer">
      		<button type="submit" id="grabarDireccion" class="btn btn-primary"><i class="icon-save fa fa-fw fa-save"></i> Grabar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-remove fa fa-fw fa-times"></i> Cancelar</button>
      </div>
		</form>
    </div>

  </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><b>Paciente / Dirección</b></h4>
          </div>
          <div class="modal-body">
            <p>Desea eliminar los datos de la dirección seleccionada1 ?<span id="modal_name"></span></p>
          </div>
          <div class="modal-footer">
            <form method="post" id="formEliminar">
              {% csrf_token %}
              <input type="hidden" value="" name="direccion_id" id="direccion_id">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Eliminar</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}
