{% extends 'base/base2.html' %}

{% block extrajs %}

{% endblock %}


{% block content %}
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Ficha Clinica</h1>
 </div>
  <ol class="breadcrumb" style="background-color: #f6f8f8; margin-bottom: 0px">
    <li><a href="{% url 'pacientes:index' %}">Inicio</a></li>
    <li class="active">Datos Básicos del Paciente</li>
  </ol><br>
<div class="wrapper-md">
<div class="panel panel-default">
    <div class="panel-heading">FICHA CLINICA</div>
    <div class="panel-body">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <ul class="nav nav-pills">
                        <li>{% block nav-home %}<a href="{% url 'pacientes:paciente_editar' id_paciente %}" class="active">Datos Básicos</a>{% endblock %}</li>
                        <li>{% block nav-about %}<a href="{% url 'pacientes:paciente_direccion' id_paciente %}">Direcciones</a>{% endblock %}</li>
                        <li><a href="{% url 'pacientes:paciente_seguro_medico' id_paciente %}">Seguro Médico</a></li>
                        <li><a href="{% url 'pacientes:paciente_situacion_laboral' id_paciente %}">Situacion Laboral</a></li>
                        <li><a href="{% url 'pacientes:padre_crear' id_paciente %}">Datos del Padre</a></li>
                        <li><a href="{% url 'pacientes:madre_crear' id_paciente %}">Datos de la Madre</a></li>
                        <li><a href="{% url 'pacientes:paciente_nivel_educatvo' id_paciente %}">Nivel Educativo</a></li>
            </ul>

        </nav>
        <div class ="row">
        <form class="form-horizontal col-sm-10" id="formulario" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-10 ">
                            <label for="{{ form2.nombres.name }}" class="col-sm-2 control-label"> {{ form2.nombres.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.nombres }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="{{ form2.apellidos.name }}" class="col-sm-2 control-label" > {{ form2.apellidos.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.apellidos }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-md-10 ">
                            <label for="{{ form2.tipo_doc.name }}" class="col-sm-2 control-label"> {{ form2.tipo_doc.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.tipo_doc }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-md-10 ">
                            {{ form2.nro_doc.errors }}
                            <label for="{{ form2.nro_doc.name }}" class="col-sm-2 control-label"> {{ form2.nro_doc.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.nro_doc }}
                            </div>
                        </div>
                     </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="{{ form2.sexo.name }}"class="col-sm-2 control-label"> {{ form2.sexo.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.sexo }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="{{ form2.estado_civil.name }}" class="col-sm-2 control-label"> {{ form2.estado_civil.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.estado_civil }}
                            </div>
                        </div>
                     </div>


                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="{{ form.tipo.name }}" class="col-sm-2 control-label"> {{ form.tipo.label }}</label>
                            <div class="col-sm-10">
                                {{ form.tipo }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            {{ form.numero.errors }}
                            <label for="{{ form.numero.name }}" class="col-sm-2 control-label"> {{ form.numero.label }}</label>
                            <div class="col-sm-10">
                                {{ form.numero }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="{{ form2.fecha_nacimiento.name }}" class="col-sm-2 control-label"> {{ form2.fecha_nacimiento.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.fecha_nacimiento }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="{{ form2.lugar_nacimiento.name }}" class="col-sm-2 control-label"> {{ form2.lugar_nacimiento.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.lugar_nacimiento }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="{{ form2.nacionalidad.name }}" class="col-sm-2 control-label"> {{ form2.nacionalidad.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.nacionalidad }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="{{ form2.etnia.name }}" class="col-sm-2 control-label"> {{ form2.etnia.label }}</label>
                            <div class="col-sm-10">
                                {{ form2.etnia }}
                            </div>
                        </div>
                    </div>
                    <br>

                </div>


                <div class="col-lg-10 col-lg-offset-2" id="acciones">

                    <button class="btn btn-primary" type="submit">Guardar</button>

                    <a href="{% url 'pacientes:index' %}" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</a>
                </div>

        </form>



     {#  <div class="form-group" align="center"> #}
            {#  <div class="col-lg-10 col-lg-offset-2"> #}
                 {#  <button class="btn btn-info" type="submit" ><span class="glyphicon glyphicon-align-justify"></span>Siguiente</button>#}
                 {#<a href="{% url 'pacientes:index' %}" class="btn btn-info" role="button" > Cancelar </a>#}
                {# <a href="{% url 'pacientes:index' %}" class="btn btn-info" role="button"> Finalizar</a>#}
            {#  </div> #}

     {#</div> #}

</form>
</div>
    </div></div></div>

{% endblock %}
