{% extends "base/base2.html" %}

{% block extrajs %}
     <script language="JavaScript">
        var valor;
        document.getElementById('campos_profesion').style.display = 'none';
        document.getElementById('campos_ocupacion').style.display = 'none';

        $("#id_situacion_laboral_id").change(function(){
            valor = $("#id_situacion_laboral_id").val()
            if(valor == 0) {
                document.getElementById('campos_profesion').style.display = 'block';
                document.getElementById('campos_ocupacion').style.display = 'block';
            }else{
                document.getElementById('campos_profesion').style.display = 'none';
                document.getElementById('campos_ocupacion').style.display = 'none';
            }

	    });
    </script>
{% endblock %}

{% block content %}

<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Ficha Clinica</h1>
 </div>
  <ol class="breadcrumb" style="background-color: #f6f8f8; margin-bottom: 0px">
    <li><a href="{% url 'pacientes:index' %}">Inicio</a></li>
    <li class="active">Otros Datos del Paciente: </li>
  </ol><br>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
         FICHA CLINICA
     </div>

        <div class="panel-body">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <ul class="nav nav-pills">
                        <li>{% block nav-home %}<a href="{% url 'pacientes:paciente_editar' id_paciente %}" class="active">Datos Básicos</a>{% endblock %}</li>
                        <li>{% block nav-about %}<a href="{% url 'pacientes:paciente_direccion' id_paciente %}">Direcciones</a>{% endblock %}</li>
                        <li><a href="{% url 'pacientes:paciente_seguro_medico' id_paciente %}">Seguro Médico</a></li>
                        <li><a href="{% url 'pacientes:paciente_situacion_laboral' id_paciente %}">Situacion Laboral</a></li>
                        <li><a href="{% url 'pacientes:padre_crear' id_paciente %}">Datos del Padre</a></li>
                        <li><a href="{% url 'pacientes:madre_crear' id_paciente %}">Datos de la Madre</a></li>
                        <li><a href="{% url 'pacientes:paciente_nivel_educatvo' id_paciente %}">Nivel Educativo</a></li>
            </ul>
         </nav>
            {% include 'base/messages.html' %}
            <div class="row">
                <form class="form-horizontal col-sm-10" method="post">
        {% csrf_token %}

        <div class="form-group">
            <div class="col-md-10 ">
                <div style="color:red">
                    {{ form.situacion_laboral_id.errors }}
                </div>
                <label for="{{ form.situacion_laboral_id.name }}" class="col-sm-2 control-label">
                    {{ form.situacion_laboral_id.label }}</label>
                <div class="col-sm-10">
                    {{ form.situacion_laboral_id }}
                </div>
            </div>
            <div class="col-md-10" id="campos_profesion" style="display: none;">
                <label for="{{ form.profesion.name }}" class="col-sm-2 control-label"> {{ form.profesion.label }}</label>
                <div class="col-md-10">
                    {{ form.profesion }}
                </div>
            </div><br><br><br><br>
            <div class="col-md-10" id="campos_ocupacion"  style="display:none;">
                <label for="{{ form.ocupacion.name }}" class="col-sm-2 control-label"> {{ form.ocupacion.label }}</label>
                <div class="col-md-10">
                    {{ form.ocupacion }}
                </div>
            </div>
        </div>

        <div class="form-group" align="left">
            <div class="col-lg-10 col-lg-offset-2">
                 <button class="btn btn-primary">Guardar</button>
                 <a href="{% url 'pacientes:paciente_seguro_medico' id_paciente %}" class="btn btn-default" id="cancelar"><i class="fa fa-times"></i> Cancelar</a>
            </div>
        </div>
    </form>
            </div>
        </div>


    </div>
</div>

{% endblock %}