{% extends "base/base2.html" %}
{
{% block content %}
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Ficha Clínica</h1>
</div>
<ol class="breadcrumb" style="background-color: #f6f8f8; margin-bottom: 0px">
  <li><a href="{% url 'pacientes:index' %}">Inicio</a></li>
  <li class="active">Datos Padres / Paciente: <b>{{ paciente.get_name_nro_doc }}</b></li>
</ol><br>
<div class="wrapper-md">
    <div class="panel panel-default">
     <div class="panel-body">
         <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>{% block nav-home %}<a href="{% url 'pacientes:paciente_editar' id_paciente %}" class="active">Datos Básicos</a>{% endblock %}</li>
                <li><a href="{% url 'pacientes:paciente_direccion' id_paciente %}">Direcciones</a></li>
                <li class="active">{% block nav-about %}<a href="{% url 'pacientes:padre_crear' id_paciente %}">Datos del Padre</a>{% endblock %}</li>
                <li><a href="{% url 'pacientes:madre_crear' id_paciente %}">Datos de la Madre</a></li>
                <li><a href="{% url 'pacientes:paciente_seguro_medico' id_paciente %}">Otros Datos</a></li>
            </ul>
         </div>
        <div class="panel panel-default">
            <div class="panel-heading">
            Datos del Padre
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed table-bordered">
                        <thead>
                              <tr>
                                <th>Nombre</th>
                                  <th>Tipo Doc</th>
                                  <th>Nro. Doc</th>
                                  <th>Acciones</th>

                              </tr>
                        </thead>
                        <tbody>

                            {% for datos in paciente_padres %}
                            <tr>
                                <td>{{ datos.get_full_name }}</td>
                                <td>{{ datos.tipo_doc }}</td>
                                <td>{{ datos.nro_doc }}</td>
                                <td>
                                    <a class="btn btn-xs" title="Editar" href="{% url 'pacientes:paciente_padre_editar' datos.id %}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-xs" title="Eliminar"
                                        onclick="">
                                        <i class='fa fa-times-circle'></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                </table>
            </div>
        </div>
        </div>
         </div>
    </div>
</div>
{% endblock %}