{% extends "base/base2.html" %}

{% block content %}
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Ficha Clínica</h1>
</div>
  <ol class="breadcrumb" style="background-color: #f6f8f8; margin-bottom: 0px">
    <li><a href="{% url 'pacientes:index' %}">Inicio</a></li>
    <li><a href="{% url 'pacientes:index' %}">Pacientes</a></li>
    <li><b>{{ paciente.get_name_nro_doc }}</b></li>
   <li class="active">Datos de la Madre</li>
  </ol><br>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li>{% block nav-home %}<a href="{% url 'pacientes:paciente_editar' id_paciente %}" class="active">Datos Básicos</a>{% endblock %}</li>
                    <li>{% block nav-about %}<a href="{% url 'pacientes:paciente_direccion' id_paciente %}">Direcciones</a>{% endblock %}</li>

                    <li><a href="{% url 'pacientes:padre_crear' id_paciente %}">Datos del Padre</a></li>
                    <li class="active"><a href="{% url 'pacientes:madre_crear' id_paciente %}" data-toggle="tab4" aria-expanded="true">Datos de la Madre</a></li>
                    <li><a href="{% url 'pacientes:paciente_seguro_medico' id_paciente %}">Otros</a></li>
                </ul>
                </div>

            {% include 'base/messages.html' %}
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                         <DIV STYLE="color:red">{{ form.tipo_doc.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.tipo_doc.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.tipo_doc}}
                         </div>
                         <DIV STYLE="color:red">{{ form.nro_doc.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.nro_doc.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.nro_doc}}
                         </div>
                    </div>
                    <div class="form-group">
                         <DIV STYLE="color:red">{{ form.nombres.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.nombres.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.nombres}}
                         </div>
                         <DIV STYLE="color:red">{{ form.apellidos.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.apellidos.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.apellidos}}
                         </div>
                    </div>
                    <div class="form-group">
                         <DIV STYLE="color:red">{{ form.fecha_nacimiento.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.fecha_nacimiento.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.fecha_nacimiento}}
                         </div>
                         <DIV STYLE="color:red">{{ form.nacionalidad.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.nacionalidad.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.nacionalidad}}
                         </div>
                    </div>
                    <div class="form-group">
                         <DIV STYLE="color:red">{{ form.lugar_nacimiento.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.lugar_nacimiento.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.lugar_nacimiento}}
                         </div>
                         <DIV STYLE="color:red">{{ form.sexo.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.sexo.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.sexo}}
                         </div>
                    </div>
                    <div class="form-group">
                         <DIV STYLE="color:red">{{ form.estado_civil.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.estado_civil.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.estado_civil}}
                         </div>
                         <DIV STYLE="color:red">{{ form.etnia.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.etnia.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.etnia}}
                         </div>
                    </div>
                    <div class="form-group">
                         <DIV STYLE="color:red">{{ form.nivel_educativo.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.nivel_educativo.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.nivel_educativo}}
                         </div>
                         <DIV STYLE="color:red">{{ form.ocupacion.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.ocupacion.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.ocupacion}}
                         </div>
                    </div>
                    <div class="form-group">
                         <DIV STYLE="color:red">{{ form.asume_sustento.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.asume_sustento.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4" align="center">
                             {{form.asume_sustento}}
                         </div>
                         <DIV STYLE="color:red">{{ form.otro.errors }}</DIV>
                         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.otro.label }}</label>
                         <div class="col-lg-3 col-md-3 col-sm-4">
                             {{form.otro}}
                         </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                            <a href="{% url 'pacientes:paciente_padre_listar' id_paciente %}" class="btn btn-default" id="cancelar"><i class="fa fa-times"></i> Cancelar</a>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}
