{% extends 'base/base2.html' %}
{% load static %}
{% block extrajs %}
    <script src = "{% static 'apps/pacientes/js/paciente_call_center' %}"></script>
{% endblock %}


{% block content %}


<style type="text/css">
<!--
label.div_center {
text-align:center;
}

</style>

<style>
label { position: absolute; text-align:right; width:130px; }
</style>

<div class="app-content-body">

<div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Pacientes Call Center</h1>
</div>
  <ol class="breadcrumb" style="background-color: #f6f8f8">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Pacientes</a></li>
      <li class="active">Nuevo</li>
    </ol>

<form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="form-group">
         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form2.tipo_doc.label }}</label>
         <div class="col-lg-4 col-md-3 col-sm-4">
             {{form2.tipo_doc}}
         </div>
         <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form2.nro_doc.label }}</label>
         <div class="col-lg-4 col-md-3 col-sm-4">
             {{form2.nro_doc}}
         </div>
        </div>

        <div class="form-group">
            {{ form2.nombres.error }}
             <label class="control-label col-lg-2 col-md-3 col-sm-2">{{form2.nombres.label}}</label>
             <div class="col-lg-4 col-md-3 col-sm-4">
                 {{form2.nombres}}
             </div>
             <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form2.apellidos.label}}</label>
             <div class="col-lg-4 col-md-3 col-sm-4">
                 {{ form2.apellidos }}
             </div>
        </div>

        <div class="form-group">
              {{ form.tipo.error }}
             <label class="control-label col-lg-2 col-md-3 col-sm-2">{{form2.fecha_nacimiento.label}}</label>
             <div class="col-lg-4 col-md-3 col-sm-4">
                 {{form2.fecha_nacimiento}}
             </div>
             <label class="control-label col-lg-2 col-md-3 col-sm-2">{{form2.distrito.label}}</label>
             <div class="col-lg-4 col-md-3 col-sm-4">
                 {{ form2.distrito }}
             </div>
         </div>
         <div class="form-group">
            {{ form.tipo.error }}
             <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.tipo.label }}</label>
             <div class="col-lg-4 col-md-3 col-sm-4">
                 {{form.tipo}}
             </div>
              {{ form.tipo.error }}
             <label class="control-label col-lg-2 col-md-3 col-sm-2">{{ form.numero.label}}</label>
             <div class="col-lg-4 col-md-3 col-sm-4">
                {{form.numero}}
             </div>
         </div>

    <div class="form-group">
	 <div class="col-sm-offset-4 col-sm-8">
         <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
         <a href="{% url 'agendamientos:agenda_detalle_paciente_list' agenda.id origen %}" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</a>
     </div>
    </div>



</form>
</div>





{% endblock %}